# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/joavi/Documents/lab-intro-recommender-systems/data/customer_product_sales.csv')

In [256]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [15]:
data_bycustomer = data.groupby(['CustomerID','ProductName']).sum()
data_bycustomer

                                          SalesID  ProductID  Quantity
CustomerID ProductName
33         Apricots - Dried                172592        324         1
           Assorted Desserts              5363705        219         1
           Bandage - Flexible Neon        6299165        273         1
           Bar Mix - Pina Colada, 355 Ml  3147536        281         1
           Beans - Kidney, Canned         6507033        300         1
...                                           ...        ...       ...
98200      Vol Au Vents                   5160346        272        50
           Wasabi Powder                  4438427         80        25
           Wine - Fume Blanc Fetzer       6226060         76        25
           Wine - Hardys Bankside Shiraz   266676        360        25
           Yogurt - French Vanilla        2112061        320        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
table = pd.pivot_table(data, values='Quantity', index=['ProductName'],
                    columns=['CustomerID'], aggfunc=np.sum)
table.fillna(0,inplace=True)
table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [390]:
squareform(pdist(table.T, 'euclidean'))
distances = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'euclidean'))), 
                         index=table.columns, columns=table.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [391]:
similar = distances.iloc[0].sort_values(ascending=False).head(6)
sim_index = similar.index
sim_index

Int64Index([33, 264, 3535, 3317, 2503, 3305], dtype='int64', name='CustomerID')

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [392]:
sim_df = pd.DataFrame()
sim_df = [sim_df.append(data_bycustomer.loc[x]) for x in sim_index]
sim_df[0]['CustomerID']=sim_index[0]
sim_df[1]['CustomerID']=sim_index[1]
sim_df[2]['CustomerID']=sim_index[2]
sim_df[3]['CustomerID']=sim_index[3]
sim_df[4]['CustomerID']=sim_index[4]
sim_df[5]['CustomerID']=sim_index[5]

In [393]:
merged=pd.concat(sim_df)
merged.reset_index(inplace=True)
merged

                       ProductName  SalesID  ProductID  Quantity  CustomerID
0                 Apricots - Dried   172592        324         1          33
1                Assorted Desserts  5363705        219         1          33
2          Bandage - Flexible Neon  6299165        273         1          33
3    Bar Mix - Pina Colada, 355 Ml  3147536        281         1          33
4           Beans - Kidney, Canned  6507033        300         1          33
..                             ...      ...        ...       ...         ...
324  Wine - Ej Gallo Sierra Valley   464102        884         2        3305
325       Wine - Pinot Noir Latour  1308025         87         1        3305
326        Wine - Redchard Merritt   535578        425         1        3305
327       Wine - White Cab Sauv.on   238590        380         1        3305
328        Yogurt - French Vanilla  6757819        320         1        3305

[329 rows x 5 columns]

In [394]:
print(len(merged[merged['CustomerID']==33]),len(merged_wo33),len(merged))

59 270 329

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [395]:
merge_group = merged.groupby(['ProductName']).sum().sort_values(by='Quantity',ascending=False)
merge_group

                                SalesID  ProductID  Quantity  CustomerID
ProductName
Pepper - Black, Whole          10114908        748         4        6885
Towels - Paper / Kraft          9769656       1276         4        7137
Veal - Inside, Choice          11229690        772         4        6655
Potatoes - Idaho 100 Count      2861317        231         3        3602
Soup - Campbells Bean Medley    9218997       1146         3        7116
...                                 ...        ...       ...         ...
Hinge W Undercut                6577594        297         1         264
Ice Cream Bar - Drumstick       1579966        154         1          33
Ice Cream Bar - Hageen Daz To   5840790        246         1        2503
Jagermeister                    5687769        374         1        3535
Muffin Mix - Blueberry           797457        186         1         264

[246 rows x 4 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [396]:
merged_wo33 = merged[merged.CustomerID != 33]
top_prod = pd.merge(left=merge_group,right=merged_wo33,right_on='ProductName',left_index=True,how='left').dropna(axis=0).sort_values(by='Quantity_x',ascending=False).drop_duplicates(subset ="ProductName",keep = 'first', inplace = False).head(5)
reco = top_prod['ProductName']
reco

156.0            Pepper - Black, Whole
110.0           Towels - Paper / Kraft
221.0            Veal - Inside, Choice
322.0    Wine - Blue Nun Qualitatswein
303.0    Pork - Hock And Feet Attached
Name: ProductName, dtype: object

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [420]:
recommendations = dict()
recommendations_df = pd.DataFrame()
unicosID = data['CustomerID'].unique()
for x in unicosID[0:]:
    #Step 4
    similar = distances.loc[x].sort_values(ascending=False).head(6)
    sim_index = similar.index
    
    #Step 5
    sim_df = pd.DataFrame()
    sim_df = [sim_df.append(data_bycustomer.loc[x]) for x in sim_index]
    sim_df[0]['CustomerID']=sim_index[0]
    sim_df[1]['CustomerID']=sim_index[1]
    sim_df[2]['CustomerID']=sim_index[2]
    sim_df[3]['CustomerID']=sim_index[3]
    sim_df[4]['CustomerID']=sim_index[4]
    sim_df[5]['CustomerID']=sim_index[5]
    merged=pd.concat(sim_df)
    merged.reset_index(inplace=True)
    merged
    
    #Step 6
    merge_group = merged.groupby(['ProductName']).sum().sort_values(by='Quantity',ascending=False)
    
    #Step 7

    merged_wo = merged[merged.CustomerID != x]
    top_prod = pd.merge(left=merge_group,right=merged_wo,right_on='ProductName',left_index=True,how='left').dropna(axis=0).sort_values(by='Quantity_x',ascending=False).drop_duplicates(subset ="ProductName",keep = 'first', inplace = False).head(5)
    reco = top_prod['ProductName']
    reco_user = pd.DataFrame(reco).T
    reco_user.columns = ['R1','R2','R3','R4','R5']
    reco_user['CustomerID'] = x
    recommendations_df = pd.concat([recommendations_df,reco_user])

##  Step 9: Store the results in a Pandas data frame. The data frame should have a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [421]:
rec_eu = recommendations_df.reset_index().drop(['index'],axis=1)
rec_eu

,R1,R2,R3,R4,R5,CustomerID
0,"Lamb - Pieces, Diced",Beef - Rib Eye Aaa,Wine - Ruffino Chianti,Beer - Original Organic Lager,Cheese - Parmesan Cubes,61288
1,Sugar - Fine,French Pastry - Mini Chocolate,Pork - Belly Fresh,"Cheese - Brie, Triple Creme",Beef - Montreal Smoked Brisket,77352
2,"Cheese - Brie,danish",Cumin - Whole,Tomatoes Tear Drop,Gatorade - Xfactor Berry,Curry Paste - Madras,40094
3,Jolt Cola - Electric Blue,"Garlic - Primerba, Paste","Potatoes - Instant, Mashed",Scallops - Live In Shell,Bread - English Muffin,23548
4,Isomalt,Corn Meal,"Fish - Scallops, Cold Smoked",Crush - Cream Soda,Tea - Earl Grey,78981
...,...,...,...,...,...,...
995,Table Cloth 62x114 White,Phyllo Dough,Pickerel - Fillets,Lettuce - Spring Mix,"Wine - White, Schroder And Schyl",49005
996,Beer - Labatt Blue,Pecan Raisin - Tarts,Chips Potato All Dressed - 43g,Island Oasis - Mango Daiquiri,Cake - Box Window 10x10x2.5,41286
997,Cake - Mini Cheesecake,Cookies Cereal Nut,Crab - Imitation Flakes,"Beef - Tenderlion, Center Cut",Tea - Jasmin Green,85878
998,Onions - Cippolini,Milk - 2%,Scampi Tail,Ice Cream Bar - Oreo Cone,Apricots Fresh,68506
999,Juice - Lime,"Sole - Dover, Whole, Fresh",Knife Plastic - White,Pork - Inside,Wine - Ej Gallo Sierra Valley,3472

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [415]:
squareform(pdist(table.T, 'jaccard'))
distances_j = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'jaccard'))), 
                         index=table.columns, columns=table.columns)

distances_j

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.514644,0.529703,0.524038,0.513043,0.516129,0.510549,0.509174,0.511211,0.513889,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
200,0.514644,1.000000,0.518828,0.514523,0.503704,0.512000,0.520325,0.510204,0.518828,0.519313,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
264,0.529703,0.518828,1.000000,0.515695,0.527027,0.515419,0.510460,0.508772,0.515419,0.511013,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
356,0.524038,0.514523,0.515695,1.000000,0.517094,0.510917,0.508403,0.521531,0.510823,0.513393,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
412,0.513043,0.503704,0.527027,0.517094,1.000000,0.512605,0.516529,0.520362,0.510373,0.515284,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.518987,0.525581,0.515021,0.521951,0.520362,1.000000,0.524887,0.525346,0.511628,0.504000
98069,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.516129,0.512821,0.514644,0.511013,0.526549,0.524887,1.000000,0.527027,0.517510,0.523404
98159,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.512500,0.525822,0.520000,0.513889,0.515152,0.525346,0.527027,1.000000,0.524793,0.512605
98185,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.511029,0.505618,0.520000,0.519149,0.515385,0.511628,0.517510,0.524793,1.000000,0.526316
98200,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,...,0.514056,0.512712,0.517241,0.511111,0.521368,0.504000,0.523404,0.512605,0.526316,1.000000

In [422]:
recommendations = dict()
recommendations_df_j = pd.DataFrame()
unicosID = data['CustomerID'].unique()
for x in unicosID[0:]:
    #Step 4
    similar = distances_j.loc[x].sort_values(ascending=False).head(6)
    sim_index = similar.index
    
    #Step 5
    sim_df = pd.DataFrame()
    sim_df = [sim_df.append(data_bycustomer.loc[x]) for x in sim_index]
    sim_df[0]['CustomerID']=sim_index[0]
    sim_df[1]['CustomerID']=sim_index[1]
    sim_df[2]['CustomerID']=sim_index[2]
    sim_df[3]['CustomerID']=sim_index[3]
    sim_df[4]['CustomerID']=sim_index[4]
    sim_df[5]['CustomerID']=sim_index[5]
    merged=pd.concat(sim_df)
    merged.reset_index(inplace=True)
    merged
    
    #Step 6
    merge_group = merged.groupby(['ProductName']).sum().sort_values(by='Quantity',ascending=False)
    
    #Step 7

    merged_wo = merged[merged.CustomerID != x]
    top_prod = pd.merge(left=merge_group,right=merged_wo,right_on='ProductName',left_index=True,how='left').dropna(axis=0).sort_values(by='Quantity_x',ascending=False).drop_duplicates(subset ="ProductName",keep = 'first', inplace = False).head(5)
    reco = top_prod['ProductName']
    reco_user = pd.DataFrame(reco).T
    reco_user.columns = ['R1','R2','R3','R4','R5']
    reco_user['CustomerID'] = x
    recommendations_df_j = pd.concat([recommendations_df,reco_user])

In [423]:
rec_jac = recommendations_df_j.reset_index().drop(['index'],axis=1)
rec_jac

,R1,R2,R3,R4,R5,CustomerID
0,"Lamb - Pieces, Diced",Beef - Rib Eye Aaa,Wine - Ruffino Chianti,Beer - Original Organic Lager,Cheese - Parmesan Cubes,61288
1,Sugar - Fine,French Pastry - Mini Chocolate,Pork - Belly Fresh,"Cheese - Brie, Triple Creme",Beef - Montreal Smoked Brisket,77352
2,"Cheese - Brie,danish",Cumin - Whole,Tomatoes Tear Drop,Gatorade - Xfactor Berry,Curry Paste - Madras,40094
3,Jolt Cola - Electric Blue,"Garlic - Primerba, Paste","Potatoes - Instant, Mashed",Scallops - Live In Shell,Bread - English Muffin,23548
4,Isomalt,Corn Meal,"Fish - Scallops, Cold Smoked",Crush - Cream Soda,Tea - Earl Grey,78981
...,...,...,...,...,...,...
996,Beer - Labatt Blue,Pecan Raisin - Tarts,Chips Potato All Dressed - 43g,Island Oasis - Mango Daiquiri,Cake - Box Window 10x10x2.5,41286
997,Cake - Mini Cheesecake,Cookies Cereal Nut,Crab - Imitation Flakes,"Beef - Tenderlion, Center Cut",Tea - Jasmin Green,85878
998,Onions - Cippolini,Milk - 2%,Scampi Tail,Ice Cream Bar - Oreo Cone,Apricots Fresh,68506
999,Juice - Lime,"Sole - Dover, Whole, Fresh",Knife Plastic - White,Pork - Inside,Wine - Ej Gallo Sierra Valley,3472
1000,Cumin - Whole,Soup - Campbells Tomato Ravioli,Quiche Assorted,"Pork - Bacon, Double Smoked",Rambutan,3472

In [424]:
rec_eu.head(5)

,R1,R2,R3,R4,R5,CustomerID
0,"Lamb - Pieces, Diced",Beef - Rib Eye Aaa,Wine - Ruffino Chianti,Beer - Original Organic Lager,Cheese - Parmesan Cubes,61288
1,Sugar - Fine,French Pastry - Mini Chocolate,Pork - Belly Fresh,"Cheese - Brie, Triple Creme",Beef - Montreal Smoked Brisket,77352
2,"Cheese - Brie,danish",Cumin - Whole,Tomatoes Tear Drop,Gatorade - Xfactor Berry,Curry Paste - Madras,40094
3,Jolt Cola - Electric Blue,"Garlic - Primerba, Paste","Potatoes - Instant, Mashed",Scallops - Live In Shell,Bread - English Muffin,23548
4,Isomalt,Corn Meal,"Fish - Scallops, Cold Smoked",Crush - Cream Soda,Tea - Earl Grey,78981

In [425]:
rec_jac.head(5)

,R1,R2,R3,R4,R5,CustomerID
0,"Lamb - Pieces, Diced",Beef - Rib Eye Aaa,Wine - Ruffino Chianti,Beer - Original Organic Lager,Cheese - Parmesan Cubes,61288
1,Sugar - Fine,French Pastry - Mini Chocolate,Pork - Belly Fresh,"Cheese - Brie, Triple Creme",Beef - Montreal Smoked Brisket,77352
2,"Cheese - Brie,danish",Cumin - Whole,Tomatoes Tear Drop,Gatorade - Xfactor Berry,Curry Paste - Madras,40094
3,Jolt Cola - Electric Blue,"Garlic - Primerba, Paste","Potatoes - Instant, Mashed",Scallops - Live In Shell,Bread - English Muffin,23548
4,Isomalt,Corn Meal,"Fish - Scallops, Cold Smoked",Crush - Cream Soda,Tea - Earl Grey,78981