# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [4]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [5]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [9]:
cust_purch = data.groupby(['CustomerID', 'ProductName']).agg({'Quantity':'sum'})
cust_purch.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [16]:
#cust_purch.fillna(0, inplace = True)
table = cust_purch.pivot_table(values='Quantity', index=['ProductName'],
                    columns=['CustomerID'])
table.fillna(0, inplace = True)
table.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [17]:
distances = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'euclidean'))), 
                         index=table.columns, columns=table.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [21]:
similarities = distances[33].sort_values(ascending=False)[1:6]
similarities

CustomerID
264     0.087047
3535    0.087047
3317    0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [30]:
close_cust_purch = table[similarities.index]
close_cust_purch.head()

CustomerID                         264   3535  3317  2503  3305
ProductName
Anchovy Paste - 56 G Tube           0.0   1.0   0.0   0.0   0.0
Appetizer - Mini Egg Roll, Shrimp   0.0   0.0   0.0   0.0   0.0
Appetizer - Mushroom Tart           0.0   0.0   0.0   1.0   0.0
Appetizer - Sausage Rolls           0.0   0.0   0.0   1.0   0.0
Apricots - Dried                    0.0   1.0   0.0   0.0   0.0

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [31]:
close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)
close_cust_purch.sort_values(by=['Total'], ascending = False, inplace = True)
close_cust_purch.head()

<ipython-input-31-6c43fe9ff2f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)
<ipython-input-31-6c43fe9ff2f5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_cust_purch.sort_values(by=['Total'], ascending = False, inplace = True)

CustomerID                     264  3535  3317  2503  3305  Total
ProductName
Towels - Paper / Kraft         1.0   1.0   0.0   0.0   1.0    3.0
Soup - Campbells Bean Medley   1.0   1.0   1.0   0.0   0.0    3.0
Pepper - Black, Whole          0.0   1.0   2.0   0.0   0.0    3.0
Wine - Blue Nun Qualitatswein  1.0   1.0   0.0   0.0   1.0    3.0
Wine - Ej Gallo Sierra Valley  0.0   0.0   1.0   0.0   2.0    3.0

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [48]:
new_df = table.merge(close_cust_purch['Total'], on = 'ProductName')
recs = list(new_df[new_df[33] == 0].sort_values(by = 'Total', ascending = False).head(5).index)
recs

['Sea Bass - Whole',
 'Beans - Wax',
 'Apricots - Halves',
 'Sherry - Dry',
 'Soup - Campbells, Cream Of']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [49]:
rec_dict = dict()
customers = table.columns

for cust in customers:
    similarities = distances[cust].nlargest(6)[1:]
    close_cust_purch = table[similarities.index]
    close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)
    new_df = table.merge(close_cust_purch['Total'], on = 'ProductName')
    rec_list = list(new_df[new_df[cust] == 0].nlargest(5,'Total').index)
    rec_dict.update({cust:rec_list})

<ipython-input-49-142ebab1e8ef>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [53]:
rec_df = pd.DataFrame.from_dict(rec_dict, orient='index')
rec_df.head()

,0,1,2,3,4
33,Butter - Unsalted,Soup - Campbells Bean Medley,Wine - Blue Nun Qualitatswein,Wine - Ej Gallo Sierra Valley,Bacardi Breezer - Tropical
200,Soup - Campbells Bean Medley,Bay Leaf,Muffin - Carrot Individual Wrap,Pork - Kidney,Wanton Wrap
264,Bread - Italian Roll With Herbs,"Fish - Scallops, Cold Smoked",Fondant - Icing,Soupfoamcont12oz 112con,"Veal - Inside, Choice"
356,Butter - Unsalted,"Veal - Inside, Choice","Beets - Candy Cane, Organic","Nut - Chestnuts, Whole",Beans - Wax
412,Cheese - Cambozola,Olive - Spread Tapenade,"Pepper - Black, Whole","Sauce - Gravy, Au Jus, Mix",Soup - Campbells Bean Medley

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [54]:
distances_2 = pd.DataFrame(1/(1 + squareform(pdist(table.T, 'cityblock'))), 
                         index=table.columns, columns=table.columns)

distances_2

rec_dict2 = dict()
for cust in customers:
    similarities = distances_2[cust].nlargest(6)[1:]
    close_cust_purch = table[similarities.index]
    close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)
    new_df = table.merge(close_cust_purch['Total'], on = 'ProductName')
    rec_list = list(new_df[new_df[cust] == 0].nlargest(5,'Total').index)
    rec_dict2.update({cust:rec_list})

<ipython-input-54-f7fa012d2174>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  close_cust_purch['Total'] = close_cust_purch.sum(axis = 1)

In [55]:
rec_df2 = pd.DataFrame.from_dict(rec_dict2, orient='index')
rec_df2.head()

,0,1,2,3,4
33,Bay Leaf,Chocolate - Dark,"Oranges - Navel, 72",Pecan Raisin - Tarts,Wine - Charddonnay Errazuriz
200,Bay Leaf,Muffin - Carrot Individual Wrap,Pomello,Pork - Kidney,Scampi Tail
264,Black Currants,Bread - Italian Roll With Herbs,Muffin - Carrot Individual Wrap,Pork - Kidney,"Veal - Inside, Choice"
356,Butter - Unsalted,"Veal - Inside, Choice","Beets - Candy Cane, Organic","Nut - Chestnuts, Whole",Beans - Wax
412,Soup - Campbells Bean Medley,Wine - Blue Nun Qualitatswein,Chocolate - Dark,"Pepper - Black, Whole","Tart Shells - Sweet, 4"

In [ ]:
# just looking at the first 5 customers there is significant difference between 
# the two recommendations.