# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [15]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [51]:
df = data.groupby(['CustomerID','ProductName']).agg({'Quantity':'sum'})
df.head(30)

                                              Quantity
CustomerID ProductName
33         Apricots - Dried                          1
           Assorted Desserts                         1
           Bandage - Flexible Neon                   1
           Bar Mix - Pina Colada, 355 Ml             1
           Beans - Kidney, Canned                    1
           Beef - Chuck, Boneless                    1
           Beef - Prime Rib Aaa                      1
           Beer - Original Organic Lager             1
           Beer - Rickards Red                       1
           Black Currants                            1
           Blackberries                              1
           Bread - Italian Roll With Herbs           1
           Bread Foccacia Whole                      1
           Cake - Box Window 10x10x2.5               1
           Cassis                                    1
           Cheese - Cottage Cheese                   1
           Crab - Imitation Flakes                   1
           Fondant - Icing                           1
           French Pastry - Mini Chocolate            1
           General Purpose Trigger                   1
           Grapes - Red                              1
           Grouper - Fresh                           2
           Hersey Shakes                             1
           Ice Cream Bar - Drumstick                 1
           Lamb - Pieces, Diced                      1
           Lettuce - Spring Mix                      2
           Mangoes                                   1
           Muffin Batt - Choc Chk                    1
           Onions - Vidalia                          1
           Pasta - Cheese / Spinach Bauletti         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [21]:
df_recom = df.pivot_table(df, index= 'CustomerID', columns = 'ProductName', aggfunc = np.sum)
df_recom.fillna(0, inplace = True)
df_recom

                             Quantity                                    \
ProductName Anchovy Paste - 56 G Tube Appetizer - Mini Egg Roll, Shrimp
CustomerID
33                                0.0                               0.0
200                               0.0                               0.0
264                               0.0                               0.0
356                               0.0                               0.0
412                               0.0                               0.0
...                               ...                               ...
97928                             0.0                               0.0
98069                             0.0                               0.0
98159                             0.0                               0.0
98185                             0.0                               0.0
98200                             0.0                               0.0

                                                                 \
ProductName Appetizer - Mushroom Tart Appetizer - Sausage Rolls
CustomerID
33                                0.0                       0.0
200                               0.0                       0.0
264                               0.0                       0.0
356                               0.0                       0.0
412                               0.0                       0.0
...                               ...                       ...
97928                             0.0                      25.0
98069                             0.0                      25.0
98159                             0.0                       0.0
98185                            25.0                      25.0
98200                             0.0                       0.0

                                                               \
ProductName Apricots - Dried Apricots - Halves Apricots Fresh
CustomerID
33                       1.0               0.0            0.0
200                      0.0               0.0            0.0
264                      0.0               1.0            1.0
356                      0.0               0.0            0.0
412                      1.0               0.0            0.0
...                      ...               ...            ...
97928                    0.0              50.0            0.0
98069                    0.0              25.0            0.0
98159                    0.0               0.0            0.0
98185                    0.0              25.0            0.0
98200                    0.0              25.0           25.0

                                                                          ...  \
ProductName Arizona - Green Tea Artichokes - Jerusalem Assorted Desserts  ...
CustomerID                                                                ...
33                          0.0                    0.0               1.0  ...
200                         0.0                    0.0               0.0  ...
264                         0.0                    0.0               0.0  ...
356                         0.0                    0.0               0.0  ...
412                         0.0                    0.0               0.0  ...
...                         ...                    ...               ...  ...
97928                      25.0                    0.0               0.0  ...
98069                       0.0                    0.0              25.0  ...
98159                       0.0                    0.0               0.0  ...
98185                       0.0                    0.0               0.0  ...
98200                       0.0                    0.0              25.0  ...

                                                                  \
ProductName Wine - White, Colubia Cresh Wine - White, Mosel Gold
CustomerID
33                                  0.0                      0.0
200                                 1.0                      0.0
264                                 0.0                      0.0
356                                 0.0                      0.0
412                                 0.0                      1.0
...                                 ...                      ...
97928                               0.0                     25.0
98069                               0.0                      0.0
98159                               0.0                     50.0
98185                               0.0                      0.0
98200                               0.0                      0.0

                                                                            \
ProductName Wine - White, Schroder And Schyl Wine - Wyndham Estate Bin 777
CustomerID
33                                       0.0                           0.0
200                                      0.0                           0.0
264                                      0.0                           1.0
356                                      0.0                           0.0
412                                      1.0                           1.0
...                                      ...                           ...
97928                                   25.0                           0.0
98069                                    0.0                           0.0
98159                                    0.0                           0.0
98185                                    0.0                          25.0
98200                                    0.0                           0.0

                                                                \
ProductName Wonton Wrappers Yeast Dry - Fermipan Yoghurt Tubes
CustomerID
33                      0.0                  0.0           0.0
200                     0.0                  0.0           0.0
264                     0.0                  0.0           0.0
356                     0.0                  0.0           0.0
412                     0.0                  0.0           0.0
...                     ...                  ...           ...
97928                   0.0                  0.0           0.0
98069                   0.0                  0.0           0.0
98159                   0.0                  0.0          25.0
98185                   0.0                  0.0           0.0
98200                   0.0                  0.0           0.0

                                                                \
ProductName Yogurt - Blueberry, 175 Gr Yogurt - French Vanilla
CustomerID
33                                 0.0                     1.0
200                                1.0                     0.0
264                                0.0                     0.0
356                                0.0                     1.0
412                                0.0                     0.0
...                                ...                     ...
97928                              0.0                     0.0
98069                              0.0                     0.0
98159                              0.0                     0.0
98185                              0.0                     0.0
98200                              0.0                    25.0


ProductName Zucchini - Yellow
CustomerID
33                        0.0
200                       0.0
264                       0.0
356                       0.0
412                       0.0
...                       ...
97928                     0.0
98069                     0.0
98159                     0.0
98185                     0.0
98200                     0.0

[1000 rows x 452 columns]

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [28]:
dist_eucl = 1 / (1 + squareform(pdist(df_recom, metric='euclidean')))
distance = pd.DataFrame(dist_eucl, index=df_recom.index, columns=df_recom.index)
distance

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [90]:
similarities = distance[412].sort_values(ascending = False)[1:6]
similarities = similarities.index.to_list()

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [52]:
df = df.reset_index()
df

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

In [57]:
df_5 = df[df['CustomerID'].isin([3317, 3535, 1008, 1072, 639])]
df_5

      CustomerID                      ProductName  Quantity
452          639        Anchovy Paste - 56 G Tube         1
453          639        Appetizer - Mushroom Tart         1
454          639                Assorted Desserts         1
455          639  Bread - Italian Roll With Herbs         1
456          639       Bread - Raisin Walnut Oval         1
...          ...                              ...       ...
3003        3535              Tray - 16in Rnd Blk         1
3004        3535                      Wanton Wrap         1
3005        3535    Wine - Blue Nun Qualitatswein         1
3006        3535   Wine - Magnotta, Merlot Sr Vqa         1
3007        3535                    Yoghurt Tubes         1

[272 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [62]:
rank = df_5.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)
rank

                               Quantity
ProductName
Olive - Spread Tapenade               3
Sprouts - Baby Pea Tendrils           3
Wine - Blue Nun Qualitatswein         3
Veal - Inside, Choice                 3
Pepper - Black, Whole                 3
...                                 ...
Flour - Whole Wheat                   1
Foam Cup 6 Oz                         1
Garlic                                1
Garlic - Elephant                     1
Zucchini - Yellow                     1

[217 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [91]:
df_7 = df[df['CustomerID'] == 412]
df_merge = rank.merge(df_7, how = 'left', on = 'ProductName')
df_merge = df_merge.drop('CustomerID', axis = 1)
df_merge['ProductName'][df_merge['Quantity_y'].isnull()][:5].to_list()

['Olive - Spread Tapenade',
 'Sprouts - Baby Pea Tendrils',
 'Wine - Blue Nun Qualitatswein',
 'Pepper - Black, Whole',
 'Soup - Campbells Bean Medley']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [93]:
dic = {}
cust_ids = df['CustomerID'].unique()

for i in cust_ids:
    similarities = distance[i].sort_values(ascending = False)[1:6]
    similarities = similarities.index.to_list()
    df_i = df[df['CustomerID'].isin([similarities[0], similarities[1], similarities[2], similarities[3], similarities[4]])]
    rank = df_i.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)
    df_f = df[df['CustomerID'] == i]
    df_merge = rank.merge(df_f, how = 'left', on = 'ProductName')
    df_merge = df_merge.drop('CustomerID', axis = 1)
    final_lst = df_merge['ProductName'][df_merge['Quantity_y'].isnull()][:5].to_list()
    dic[i] = final_lst

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [98]:
df_eucl = pd.DataFrame.from_dict(dic).T
df_eucl

,0,1,2,3,4
33,Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Soup - Campbells Bean Medley,Wine - Blue Nun Qualitatswein,Chicken - Soup Base
200,Soup - Campbells Bean Medley,Muffin - Carrot Individual Wrap,Bay Leaf,Pork - Kidney,Wanton Wrap
264,Soupfoamcont12oz 112con,Wine - Two Oceans Cabernet,Bread - Italian Roll With Herbs,"Veal - Inside, Choice","Fish - Scallops, Cold Smoked"
356,Butter - Unsalted,"Veal - Inside, Choice","Beets - Candy Cane, Organic","Nut - Chestnuts, Whole",Lamb - Ground
412,Olive - Spread Tapenade,Sprouts - Baby Pea Tendrils,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Soup - Campbells Bean Medley
...,...,...,...,...,...
97928,"Soup - Campbells, Lentil","Cheese - Brie,danish",Wiberg Super Cure,Pants Custom Dry Clean,Shrimp - 31/40
98069,Skirt - 29 Foot,Beans - Kidney White,Milk - 1%,Cheese - Taleggio D.o.p.,Sprouts - Baby Pea Tendrils
98159,Chips Potato Salt Vinegar 43g,Tea - English Breakfast,"Wine - Red, Harrow Estates, Cab",Bread - Raisin Walnut Oval,Wine - Redchard Merritt
98185,Crackers - Trio,Pernod,Tea - Jasmin Green,Pastry - Choclate Baked,"Peas - Pigeon, Dry"
98200,Beans - Wax,Sherry - Dry,Pork - Hock And Feet Attached,Pears - Bosc,"Soup - Campbells, Cream Of"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [99]:
dist_cityblock = 1 / (1 + squareform(pdist(df_recom, metric='cityblock')))
distance_cb = pd.DataFrame(dist_cityblock, index=df_recom.index, columns=df_recom.index)

dic_cb = {}
cust_ids_cb = df['CustomerID'].unique()

for i in cust_ids_cb:
    similarities = distance_cb[i].sort_values(ascending = False)[1:6]
    similarities = similarities.index.to_list()
    df_i = df[df['CustomerID'].isin([similarities[0], similarities[1], similarities[2], similarities[3], similarities[4]])]
    rank = df_i.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending = False)
    df_f = df[df['CustomerID'] == i]
    df_merge = rank.merge(df_f, how = 'left', on = 'ProductName')
    df_merge = df_merge.drop('CustomerID', axis = 1)
    final_lst = df_merge['ProductName'][df_merge['Quantity_y'].isnull()][:5].to_list()
    dic_cb[i] = final_lst

In [100]:
df_cityblock = pd.DataFrame.from_dict(dic_cb).T
df_cityblock

,0,1,2,3,4
33,"Oranges - Navel, 72",Cheese Cloth No 100,Wine - Blue Nun Qualitatswein,Soup - Campbells Bean Medley,Coffee - Dark Roast
200,Soup - Campbells Bean Medley,Pomello,Bay Leaf,Pork - Kidney,Muffin - Carrot Individual Wrap
264,Muffin - Carrot Individual Wrap,Black Currants,Pork - Kidney,"Veal - Inside, Choice",Bread - Italian Roll With Herbs
356,Butter - Unsalted,"Veal - Inside, Choice","Beets - Candy Cane, Organic","Nut - Chestnuts, Whole",Lamb - Ground
412,Wine - Blue Nun Qualitatswein,"Pepper - Black, Whole",Butter - Unsalted,Table Cloth 81x81 White,Soup - Campbells Bean Medley
...,...,...,...,...,...
97928,Wine - Chardonnay South,Butter - Unsalted,Raspberries - Fresh,Smoked Paprika,Sobe - Tropical Energy
98069,Veal - Sweetbread,Mayonnaise - Individual Pkg,Wine - Chardonnay South,Butter - Unsalted,Bar - Granola Trail Mix Fruit Nut
98159,Butter - Unsalted,Knife Plastic - White,"Pepper - Black, Whole",Soup - Campbells Bean Medley,"Wine - Magnotta, Merlot Sr Vqa"
98185,"Wine - White, Colubia Cresh",Beef - Top Sirloin,Pork - Kidney,Beef - Montreal Smoked Brisket,Muffin - Carrot Individual Wrap
98200,Wine - Blue Nun Qualitatswein,Jagermeister,Flavouring - Orange,Knife Plastic - White,Tray - 16in Rnd Blk