# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
import os
import random
from scipy.spatial.distance import pdist, squareform

In [2]:
os.getcwd()

'C:\\Users\\tglhi\\Documents\\Bootcamp\\lab-intro-recommender-systems\\your-code'

In [3]:
data = pd.read_csv("C:\\Users\\tglhi\\Documents\\Bootcamp\\lab-intro-recommender-systems\\data\\customer_product_sales.csv")

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [5]:
data["ProductName"].value_counts()

Spinach - Baby                      186
Sole - Dover, Whole, Fresh          182
Tea - Jasmin Green                  181
Oil - Shortening - All - Purpose    181
Bandage - Flexible Neon             180
                                   ...
Bread - Hot Dog Buns                120
Rabbit - Whole                      119
Kellogs Special K Cereal            119
Cheese - Cambozola                  119
Water - Green Tea Refresher         109
Name: ProductName, Length: 452, dtype: int64

In [6]:
data[data["CustomerID"] == 61923]

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
420,61923,Diane,Lamb,4398923,153,Arizona - Green Tea,16
2589,61923,Diane,Lamb,3293793,248,Beef - Inside Round,16
2590,61923,Diane,Lamb,5293281,248,Beef - Inside Round,16
2742,61923,Diane,Lamb,3186344,397,Juice - Happy Planet,16
3074,61923,Diane,Lamb,2228883,214,French Pastry - Mini Chocolate,16
...,...,...,...,...,...,...,...
64453,61923,Diane,Lamb,5550376,73,Appetizer - Sausage Rolls,16
65898,61923,Diane,Lamb,659956,353,Milk Powder,16
66686,61923,Diane,Lamb,3240206,15,"Spoon - Soup, Plastic",16
67557,61923,Diane,Lamb,2344327,412,Lettuce - California Mix,16
68283,61923,Diane,Lamb,616519,106,Pickerel - Fillets,16

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [7]:
customer_quantities = data.groupby(["CustomerID", "ProductName"]).sum("Quantity")

In [8]:
customer_quantities

                                          SalesID  ProductID  Quantity
CustomerID ProductName
33         Apricots - Dried                172592        324         1
           Assorted Desserts              5363705        219         1
           Bandage - Flexible Neon        6299165        273         1
           Bar Mix - Pina Colada, 355 Ml  3147536        281         1
           Beans - Kidney, Canned         6507033        300         1
...                                           ...        ...       ...
98200      Vol Au Vents                   5160346        272        50
           Wasabi Powder                  4438427         80        25
           Wine - Fume Blanc Fetzer       6226060         76        25
           Wine - Hardys Bankside Shiraz   266676        360        25
           Yogurt - French Vanilla        2112061        320        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [9]:
pivoted_table = customer_quantities.pivot_table(columns = "CustomerID", values = "Quantity", index = "ProductName", fill_value = 0)

In [10]:
pivoted_table

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
pivoted_table[61923]

ProductName
Anchovy Paste - 56 G Tube             0
Appetizer - Mini Egg Roll, Shrimp     0
Appetizer - Mushroom Tart             0
Appetizer - Sausage Rolls            16
Apricots - Dried                      0
                                     ..
Yeast Dry - Fermipan                  0
Yoghurt Tubes                         0
Yogurt - Blueberry, 175 Gr           16
Yogurt - French Vanilla               0
Zucchini - Yellow                     0
Name: 61923, Length: 452, dtype: int64

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [12]:
similarity_matrix = squareform(pdist(pivoted_table.T, 'euclidean'))

In [13]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivoted_table.T, 'euclidean'))), 
                         index = pivoted_table.columns, columns = pivoted_table.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

In [14]:
distances[61923].sort_values(ascending = False)[0:6]

C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\3057962677.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  distances[61923].sort_values(ascending = False)[0:6]

CustomerID
61923    1.000000
15148    0.006786
10418    0.006776
12232    0.006724
18591    0.006702
12381    0.006699
Name: 61923, dtype: float64

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [15]:
similar_to_33 = distances[61923][0:6].sort_values(ascending = False)
for element in similar_to_33:
    print(element)

0.0066008410066576585
0.006598815322771146
0.006584543985692688
0.006580381034919516
0.006574651997125055
0.006569508664638279

C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\3835440125.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_to_33 = distances[61923][0:6].sort_values(ascending = False)

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [18]:
def get_recommendations(customer_id):
    similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]
    similar_customers_selection.drop(customer_id, inplace = True)
    similar_customers = list(similar_customers_selection.index)
    selected_quantities = customer_quantities.loc[similar_customers]
    total_similar_products = selected_quantities.groupby("ProductName").sum("Quantity").sort_values(by = "Quantity", ascending = False)
    merged_customer_quantities = total_similar_products.merge(pivoted_table, how = "left", on = "ProductName")
    merged_customer_quantities_selected = merged_customer_quantities[merged_customer_quantities[customer_id] == 0]
    product_recommendations = merged_customer_quantities.head(5)
    return product_recommendations

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [19]:
recommendations = {}
unique_customer_ids = list(data["CustomerID"].unique())
random_customers = random.sample(unique_customer_ids, k=5)
print(random_customers)

[64787, 77814, 33749, 45498, 19147]

In [20]:
get_recommendations(26458)

C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]

,SalesID,ProductID,Quantity,33,200,264,356,412,464,477,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
"Wine - Magnotta, Merlot Sr Vqa",18490978,768,5,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,25,0
"Fish - Scallops, Cold Smoked",8038927,1269,5,0,0,0,0,1,0,1,...,0,0,0,25,25,0,0,0,0,0
Cinnamon Buns Sticky,10655545,220,5,0,0,0,2,0,0,1,...,0,0,0,0,0,25,0,0,25,0
Beef - Ground Medium,4388204,90,4,0,1,0,1,0,0,0,...,25,0,0,0,0,0,0,50,25,0
Sauce - Rosee,7731967,870,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [21]:
for random_customer in random_customers:
    recommendations[random_customer] = get_recommendations(random_customer)

recommendations

C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]
C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]
C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]
C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]
C:\Users\tglhi\AppData\Local\Temp\ipykernel_2984\2321228503.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  similar_customers_selection = distances[customer_id].sort_values(ascending = False)[0:6]

{64787:                             SalesID  ProductID  Quantity  33  200  264  356  \
 ProductName
 Grenadine                  14051453        804        20   0    0    0    0
 Sage - Ground              11449270        152        16   0    0    0    0
 Salmon Steak - Cohoe 8 Oz   9072437        942        16   0    0    0    0
 Anchovy Paste - 56 G Tube  12828680        524        15   0    0    0    0
 Spinach - Baby             11289486         87        14   0    0    0    0

                            412  464  477  ...  97697  97753  97769  97793  \
 ProductName                               ...
 Grenadine                    1    0    1  ...     25     25      0      0
 Sage - Ground                0    0    0  ...      0      0      0      0
 Salmon Steak - Cohoe 8 Oz    0    0    0  ...      0      0      0      0
 Anchovy Paste - 56 G Tube    0    0    0  ...      0     25      0      0
 Spinach - Baby               2    0    0  ...     25      0      0      0

                            97900  97928  98069  98159  98185  98200
 ProductName
 Grenadine                      0      0      0      0      0      0
 Sage - Ground                  0      0      0     25      0     25
 Salmon Steak - Cohoe 8 Oz      0      0      0      0      0      0
 Anchovy Paste - 56 G Tube      0      0      0      0      0      0
 Spinach - Baby                25      0      0      0      0     25

 [5 rows x 1003 columns],
 77814:                               SalesID  ProductID  Quantity  33  200  264  356  \
 ProductName
 Cheese - Victor Et Berthold   8501025       1264        16   0    0    0    0
 Wiberg Super Cure            18898766        540        15   0    1    0    0
 Lamb - Whole, Fresh           6010068         54        12   0    1    0    0
 Oil - Safflower              10512591        525        12   0    0    0    0
 Cake - Cake Sheet Macaroon    5684918        570        12   0    0    0    0

                              412  464  477  ...  97697  97753  97769  97793  \
 ProductName                                 ...
 Cheese - Victor Et Berthold    0    0    0  ...      0      0     25      0
 Wiberg Super Cure              0    0    0  ...      0      0      0      0
 Lamb - Whole, Fresh            0    0    1  ...      0     25      0      0
 Oil - Safflower                0    0    0  ...     25      0     25      0
 Cake - Cake Sheet Macaroon     0    1    0  ...      0      0      0     25

                              97900  97928  98069  98159  98185  98200
 ProductName
 Cheese - Victor Et Berthold      0      0      0      0      0      0
 Wiberg Super Cure                0      0      0     25      0      0
 Lamb - Whole, Fresh              0      0      0      0      0     25
 Oil - Safflower                  0      0      0      0      0      0
 Cake - Cake Sheet Macaroon       0     25      0      0      0      0

 [5 rows x 1003 columns],
 33749:                              SalesID  ProductID  Quantity  33  200  264  356  \
 ProductName
 Wine - Two Oceans Cabernet  20249410       2604        15   1    0    0    1
 Beer - Rickards Red          9770229       1136        10   1    0    0    0
 Pate - Cognac               16008656        852        10   1    0    1    0
 Mushroom - Trumpet, Dry     11996851        832         9   0    0    0    0
 Cheese - Mozzarella         11688390        441         8   0    0    0    0

                             412  464  477  ...  97697  97753  97769  97793  \
 ProductName                                ...
 Wine - Two Oceans Cabernet    1    0    1  ...      0      0      0     25
 Beer - Rickards Red           0    0    0  ...      0      0      0      0
 Pate - Cognac                 0    0    0  ...      0      0      0      0
 Mushroom - Trumpet, Dry       0    0    0  ...      0      0      0      0
 Cheese - Mozzarella           0    0    1  ...      0      0      0      0

                             97900  97928  98069  98159  98185  98200
 ProductName
 Wine - Two Oceans Cabernet      0      0      0      0      0      0
 Beer - Rickards Red             0      0      0      0      0      0
 Pate - Cognac                   0     25      0      0      0      0
 Mushroom - Trumpet, Dry        25      0      0      0      0      0
 Cheese - Mozzarella             0     25      0      0      0      0

 [5 rows x 1003 columns],
 45498:                                  SalesID  ProductID  Quantity  33  200  264  \
 ProductName
 Wine - Valpolicella Masi        22847867       1776        18   1    0    0
 Spoon - Soup, Plastic            8166273         75        15   0    1    0
 Island Oasis - Mango Daiquiri    9570375        508        12   0    0    0
 Chips Potato All Dressed - 43g  18580796       1748        11   0    0    0
 Browning Caramel Glace          14347642        448        11   0    0    0

                                 356  412  464  477  ...  97697  97753  97769  \
 ProductName                                         ...
 Wine - Valpolicella Masi          0    0    0    0  ...      0      0      0
 Spoon - Soup, Plastic             2    0    0    1  ...      0      0      0
 Island Oasis - Mango Daiquiri     0    0    0    0  ...      0      0      0
 Chips Potato All Dressed - 43g    0    1    0    0  ...      0      0      0
 Browning Caramel Glace            0    0    0    1  ...      0      0      0

                                 97793  97900  97928  98069  98159  98185  \
 ProductName
 Wine - Valpolicella Masi            0      0      0      0      0      0
 Spoon - Soup, Plastic               0      0      0      0      0      0
 Island Oasis - Mango Daiquiri       0      0      0      0      0      0
 Chips Potato All Dressed - 43g      0      0      0      0     25      0
 Browning Caramel Glace              0      0      0      0      0     25

                                 98200
 ProductName
 Wine - Valpolicella Masi            0
 Spoon - Soup, Plastic               0
 Island Oasis - Mango Daiquiri       0
 Chips Potato All Dressed - 43g      0
 Browning Caramel Glace              0

 [5 rows x 1003 columns],
 19147:                              SalesID  ProductID  Quantity  33  200  264  356  \
 ProductName
 Beer - Sleemans Cream Ale   23388426        592         7   0    0    0    0
 Apricots - Halves           11584720        834         5   0    0    1    0
 Table Cloth 54x72 White     17511478        144         5   0    0    0    0
 Bread - Raisin Walnut Oval  11481379        168         5   0    0    0    0
 Butter - Unsalted           10353839       1206         4   0    0    0    0

                             412  464  477  ...  97697  97753  97769  97793  \
 ProductName                                ...
 Beer - Sleemans Cream Ale     0    0    0  ...      0     25      0      0
 Apricots - Halves             0    0    0  ...      0      0      0      0
 Table Cloth 54x72 White       0    0    0  ...     25      0      0     25
 Bread - Raisin Walnut Oval    0    0    1  ...      0      0      0     25
 Butter - Unsalted             0    0    0  ...      0      0      0      0

                             97900  97928  98069  98159  98185  98200
 ProductName
 Beer - Sleemans Cream Ale      25      0      0      0      0      0
 Apricots - Halves              25     50     25      0     25     25
 Table Cloth 54x72 White         0     25     25      0      0     25
 Bread - Raisin Walnut Oval      0      0      0      0      0      0
 Butter - Unsalted               0      0      0      0     25      0

 [5 rows x 1003 columns]}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [22]:
final_customer_preferences = []

for k in recommendations:
    products = recommendations[k].index.tolist()
    customer = [k]
    customer_preference = customer + products
    final_customer_preferences.append(customer_preference)

final_results = pd.DataFrame(final_customer_preferences)

In [24]:
final_results.rename(columns = {0: "CustomerID", 1: "Product_1", 2: "Product_2", 3: "Product_3", 4: "Product_4", 5: "Product_1"})

,CustomerID,Product_1,Product_2,Product_3,Product_4,Product_1
0,64787,Grenadine,Sage - Ground,Salmon Steak - Cohoe 8 Oz,Anchovy Paste - 56 G Tube,Spinach - Baby
1,77814,Cheese - Victor Et Berthold,Wiberg Super Cure,"Lamb - Whole, Fresh",Oil - Safflower,Cake - Cake Sheet Macaroon
2,33749,Wine - Two Oceans Cabernet,Beer - Rickards Red,Pate - Cognac,"Mushroom - Trumpet, Dry",Cheese - Mozzarella
3,45498,Wine - Valpolicella Masi,"Spoon - Soup, Plastic",Island Oasis - Mango Daiquiri,Chips Potato All Dressed - 43g,Browning Caramel Glace
4,19147,Beer - Sleemans Cream Ale,Apricots - Halves,Table Cloth 54x72 White,Bread - Raisin Walnut Oval,Butter - Unsalted

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.