# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [53]:
a = pd.DataFrame(data.groupby(['CustomerID', 'ProductName'], as_index = False)['Quantity'].sum())
a.set_index('CustomerID', inplace=True)

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [81]:
pivot = pd.pivot_table(a, values = 'Quantity', columns = 'CustomerID', index = 'ProductName').fillna(0)

pivot.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [64]:
sim_mat = pd.DataFrame(1/(1+squareform(pdist(pivot.T, 'euclidean'))), index=pivot.columns, columns = pivot.columns)
sim_mat

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [118]:
def top_5(id):
    return sim_mat[id].sort_values(ascending=False)[1:6]

top_5(639)

CustomerID
3317    0.088530
3535    0.087779
3074    0.087047
3305    0.086333
649     0.085983
Name: 639, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [119]:
sim_prod_list = a[a.index.isin(list(top_5(chosen_customer).index))]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [120]:
agg_sim_prod_list = sim_prod_list.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False)

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [121]:

merged = pivot.merge(agg_sim_prod_list, how = 'left', on='ProductName')
assessment = merged[[chosen_customer, 'Quantity']].fillna(0)
#assessment[(assessment[chosen_customer] == 0 & assessment.Quantity > 0)]
recos = assessment[(assessment[chosen_customer] == 0) & (assessment.Quantity > 0)].sort_values('Quantity', ascending = False).head(5)
recos_list = list(recos.index)
recos_list

['Placemat - Scallop, White',
 'Rum - Mount Gay Eclipes',
 'Tofu - Firm',
 'Cheese - Boursin, Garlic / Herbs',
 'Sobe - Tropical Energy']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [125]:
recommendations = {}

for customer in pivot.columns:
    sim_prod_list = a[a.index.isin(list(top_5(customer).index))]
    agg_sim_prod_list = sim_prod_list.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False)
    merged = pivot.merge(agg_sim_prod_list, how = 'left', on='ProductName')
    assessment = merged[[customer, 'Quantity']].fillna(0)
    recos = assessment[(assessment[customer] == 0) & (assessment.Quantity > 0)].sort_values('Quantity', ascending = False).head(5)
    recos_list = list(recos.index)
    recommendations[customer] = recos_list

In [124]:
print(recommendations)

{33: ['Wine - Blue Nun Qualitatswein', 'Soup - Campbells Bean Medley', 'Wine - Ej Gallo Sierra Valley', 'Butter - Unsalted', 'Yoghurt Tubes'], 200: ['Soup - Campbells Bean Medley', 'Muffin - Carrot Individual Wrap', 'Wanton Wrap', 'Bay Leaf', 'Pork - Kidney'], 264: ['Soupfoamcont12oz 112con', 'Wine - Two Oceans Cabernet', 'Veal - Inside, Choice', 'Bread - Italian Roll With Herbs', 'Fondant - Icing']}

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [133]:
recos_by_cust = pd.DataFrame(recommendations)
recos_by_cust = recos_by_cust.T.reset_index().rename(columns = {'index': 'CustomerID'})
recos_by_cust

,CustomerID,0,1,2,3,4
0,33,Wine - Blue Nun Qualitatswein,Soup - Campbells Bean Medley,Wine - Ej Gallo Sierra Valley,Butter - Unsalted,Yoghurt Tubes
1,200,Soup - Campbells Bean Medley,Muffin - Carrot Individual Wrap,Wanton Wrap,Bay Leaf,Pork - Kidney
2,264,Soupfoamcont12oz 112con,Wine - Two Oceans Cabernet,"Veal - Inside, Choice",Bread - Italian Roll With Herbs,Fondant - Icing
3,356,Butter - Unsalted,"Veal - Inside, Choice","Nut - Chestnuts, Whole","Beets - Candy Cane, Organic",Raspberries - Fresh
4,412,"Sauce - Gravy, Au Jus, Mix",Sprouts - Baby Pea Tendrils,Olive - Spread Tapenade,Wine - Blue Nun Qualitatswein,Cheese - Cambozola
...,...,...,...,...,...,...
995,97928,"Soup - Campbells, Lentil","Cheese - Brie,danish",Pants Custom Dry Clean,Wiberg Super Cure,Shrimp - 31/40
996,98069,Skirt - 29 Foot,Milk - 1%,Cheese - Taleggio D.o.p.,Beans - Kidney White,Sprouts - Baby Pea Tendrils
997,98159,"Wine - Red, Harrow Estates, Cab",Tea - English Breakfast,Bread - Raisin Walnut Oval,Chips Potato Salt Vinegar 43g,Halibut - Steaks
998,98185,Crackers - Trio,Pernod,Tea - Jasmin Green,"Peas - Pigeon, Dry",Pastry - Choclate Baked
999,98200,Beans - Wax,Sherry - Dry,Ecolab - Mikroklene 4/4 L,Pears - Bosc,"Soup - Campbells, Cream Of"

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [134]:
sim_mat = pd.DataFrame(1/(1+squareform(pdist(pivot.T, 'cityblock'))), index=pivot.columns, columns = pivot.columns)
sim_mat

for customer in pivot.columns:
    sim_prod_list = a[a.index.isin(list(top_5(customer).index))]
    agg_sim_prod_list = sim_prod_list.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False)
    merged = pivot.merge(agg_sim_prod_list, how = 'left', on='ProductName')
    assessment = merged[[customer, 'Quantity']].fillna(0)
    recos = assessment[(assessment[customer] == 0) & (assessment.Quantity > 0)].sort_values('Quantity', ascending = False).head(5)
    recos_list = list(recos.index)
    recommendations[customer] = recos_list

In [135]:
recos_by_cust = pd.DataFrame(recommendations)
recos_by_cust = recos_by_cust.T.reset_index().rename(columns = {'index': 'CustomerID'})
recos_by_cust

,CustomerID,0,1,2,3,4
0,33,"Oranges - Navel, 72",Cheese Cloth No 100,Wine - Blue Nun Qualitatswein,Soup - Campbells Bean Medley,Scallops - 10/20
1,200,Soup - Campbells Bean Medley,Bay Leaf,Pork - Kidney,Scampi Tail,Muffin - Carrot Individual Wrap
2,264,"Veal - Inside, Choice",Bread - Italian Roll With Herbs,Muffin - Carrot Individual Wrap,Wine - Two Oceans Cabernet,Black Currants
3,356,Butter - Unsalted,"Veal - Inside, Choice","Nut - Chestnuts, Whole","Beets - Candy Cane, Organic",Raspberries - Fresh
4,412,Wine - Blue Nun Qualitatswein,Soup - Campbells Bean Medley,Table Cloth 81x81 White,"Pepper - Black, Whole",Butter - Unsalted
...,...,...,...,...,...,...
995,97928,Wine - Chardonnay South,Butter - Unsalted,Raspberries - Fresh,Cream Of Tartar,Sobe - Tropical Energy
996,98069,Veal - Sweetbread,Butter - Unsalted,Wine - Blue Nun Qualitatswein,Wine - Chardonnay South,Mayonnaise - Individual Pkg
997,98159,Sherry - Dry,Bandage - Fexible 1x3,"Wine - Magnotta, Merlot Sr Vqa","Pepper - Black, Whole",Knife Plastic - White
998,98185,"Wine - White, Colubia Cresh",Lime Cordial - Roses,Beef - Montreal Smoked Brisket,"Cheese - Boursin, Garlic / Herbs",Hersey Shakes
999,98200,Wine - Blue Nun Qualitatswein,Gloves - Goldtouch Disposable,Tray - 16in Rnd Blk,Jagermeister,"Wine - Magnotta, Merlot Sr Vqa"