# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [11]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

COMPROBANDO QUE EL GROPU BY Y SUM, ESTE CONRRECTOS , FILTRANDO POR CUSTUMER ID EN DATA ORIGINAL

In [106]:
data[data.CustomerID == 61288].sort_values(by='ProductID',ascending=True)

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
1071,61288,Rosa,Andersen,521911,17,"Wine - White, Mosel Gold",16
1072,61288,Rosa,Andersen,2121381,17,"Wine - White, Mosel Gold",16
4784,61288,Rosa,Andersen,3197052,40,Cocktail Napkin Blue,16
5714,61288,Rosa,Andersen,4853326,41,"Cup - 6oz, Foam",16
1691,61288,Rosa,Andersen,807205,43,Sponge Cake Mix - Chocolate,16
2294,61288,Rosa,Andersen,1185519,44,"Wine - White, Colubia Cresh",16
4017,61288,Rosa,Andersen,2604632,53,Cassis,16
1559,61288,Rosa,Andersen,661931,69,Raspberries - Fresh,16
4334,61288,Rosa,Andersen,2725371,76,Wine - Fume Blanc Fetzer,16
3081,61288,Rosa,Andersen,2028032,85,Cheese - Parmesan Cubes,16
3082,61288,Rosa,Andersen,3899323,85,Cheese - Parmesan Cubes,16
6483,61288,Rosa,Andersen,6175376,93,Bandage - Fexible 1x3,16
748,61288,Rosa,Andersen,410118,102,"Rosemary - Primerba, Paste",16
3864,61288,Rosa,Andersen,2562034,131,Anchovy Paste - 56 G Tube,16
5571,61288,Rosa,Andersen,4042894,134,Wine - Toasted Head,16
4488,61288,Rosa,Andersen,2834064,136,Vol Au Vents,16
5097,61288,Rosa,Andersen,3659065,143,Watercress,16
287,61288,Rosa,Andersen,316670,153,Arizona - Green Tea,16
2145,61288,Rosa,Andersen,984850,155,"Peas - Pigeon, Dry",16
1236,61288,Rosa,Andersen,553653,159,Eggplant - Asian,16
3236,61288,Rosa,Andersen,2129598,194,Lettuce - Frisee,16
1400,61288,Rosa,Andersen,605162,196,Longos - Grilled Salmon With Bbq,16
2907,61288,Rosa,Andersen,1991418,214,French Pastry - Mini Chocolate,16
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1852,61288,Rosa,Andersen,3819528,244,Beef - Rib Eye Aaa,16
1851,61288,Rosa,Andersen,886831,244,Beef - Rib Eye Aaa,16
2453,61288,Rosa,Andersen,1235809,248,Beef - Inside Round,16
6335,61288,Rosa,Andersen,6141261,250,"Soup - Campbells, Beef Barley",16
4631,61288,Rosa,Andersen,2847999,252,Nantucket - Pomegranate Pear,16
5863,61288,Rosa,Andersen,5030120,254,"Soup - Canadian Pea, Dry Mix",16
120,61288,Rosa,Andersen,167199,270,Cheese Cloth No 100,16
3383,61288,Rosa,Andersen,2149926,284,Beer - Rickards Red,16
6010,61288,Rosa,Andersen,5530438,320,Yogurt - French Vanilla,16
3701,61288,Rosa,Andersen,2253504,342,Mangoes,16
5420,61288,Rosa,Andersen,3757242,347,Pail For Lid 1537,16
4158,61288,Rosa,Andersen,2710510,370,Muffin - Carrot Individual Wrap,16
5264,61288,Rosa,Andersen,3690465,384,Fond - Neutral,16
2606,61288,Rosa,Andersen,1457272,397,Juice - Happy Planet,16
6178,61288,Rosa,Andersen,5757769,405,Pastry - Raisin Muffin - Mini,16
2751,61288,Rosa,Andersen,1717884,409,Skirt - 29 Foot,16
3542,61288,Rosa,Andersen,2182950,415,Mussels - Frozen,16
912,61288,Rosa,Andersen,466174,417,"Lamb - Pieces, Diced",16
913,61288,Rosa,Andersen,3980266,417,"Lamb - Pieces, Diced",16
914,61288,Rosa,Andersen,5268319,417,"Lamb - Pieces, Diced",16
1994,61288,Rosa,Andersen,946417,427,Wine - Vineland Estate Semi - Dry,16
594,61288,Rosa,Andersen,385162,428,Wine - Ruffino Chianti,16
595,61288,Rosa,Andersen,698092,428,Wine - Ruffino Chianti,16
437,61288,Rosa,Andersen,1137505,432,Beer - Original Organic Lager,16
436,61288,Rosa,Andersen,328882,432,Beer - Original Organic Lager,16
4941,61288,Rosa,Andersen,3359957,446,Sunflower Seed Raw,16

In [103]:
data_2.loc[61288]

            ProductID  SalesID  Quantity
CustomerID
61288              17  2643292        32
61288              40  3197052        16
61288              41  4853326        16
61288              43   807205        16
61288              44  1185519        16
61288              53  2604632        16
61288              69   661931        16
61288              76  2725371        16
61288              85  5927355        32
61288              93  6175376        16
61288             102   410118        16
61288             131  2562034        16
61288             134  4042894        16
61288             136  2834064        16
61288             143  3659065        16
61288             153   316670        16
61288             155   984850        16
61288             159   553653        16
61288             194  2129598        16
61288             196   605162        16
61288             214  1991418        16
61288             229   134196        16
61288             244  4706359        32
61288             248  1235809        16
61288             250  6141261        16
61288             252  2847999        16
61288             254  5030120        16
61288             270   167199        16
61288             284  2149926        16
61288             320  5530438        16
61288             342  2253504        16
61288             347  3757242        16
61288             370  2710510        16
61288             384  3690465        16
61288             397  1457272        16
61288             405  5757769        16
61288             409  1717884        16
61288             415  2182950        16
61288             417  9714759        48
61288             427   946417        16
61288             428  1083254        32
61288             432  1466387        32
61288             446  3359957        16

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [9]:
data_venta = data.groupby(by=['CustomerID','ProductID']).sum()

In [10]:
data_venta.head(2)

                      SalesID  Quantity
CustomerID ProductID
33         23         6515659         1
           51         5332057         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [15]:
data_venta_pivot = pd.pivot_table(data_venta, values = 'Quantity', index = ['ProductID'], columns =['CustomerID'] , fill_value = 0)

In [25]:
data_venta_pivot.loc[[23]]

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductID,,,,,,,,,,,,,,,,,,,,,
23,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,25,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [26]:
squareform(pdist(data_venta_pivot.T, 'euclidean'))

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

In [29]:
distances = pd.DataFrame(1/(1 + squareform(pdist(data_venta_pivot.T, 'euclidean'))), 
                         index=data_venta_pivot.columns, columns=data_venta_pivot.columns)

distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [138]:
#display(distances)
#display (data_venta_pivot)
similarities = distances[33].sort_values(ascending=False)[1:6]
similarities

CustomerID
3317    0.087047
3535    0.087047
264     0.087047
2503    0.085983
3305    0.085638
Name: 33, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [147]:
data_venta_reset = data_venta.reset_index()
data_venta_reset.head(1)

   CustomerID  ProductID  SalesID  Quantity
0          33         23  6515659         1

In [148]:
data_2 = data_venta_reset.set_index('CustomerID')

In [149]:
data_2_filtrado = data_2.loc[[3317, 3535, 264, 2503, 3305,],:]

In [150]:
data_2_filtrado

            ProductID  SalesID  Quantity
CustomerID
3317                4   339673         1
3317               10  3172239         1
3317               11  4912625         1
3317               12  6636970         1
3317               21  5476948         1
...               ...      ...       ...
3305              395  1859555         1
3305              412  4034755         1
3305              425   535578         1
3305              440  1276079         1
3305              442   464102         2

[270 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [80]:
data_2_filtrado_sum = data_2_filtrado.groupby(by='ProductID').sum()

In [86]:
data_2_filtrado_sum.sort_values(by= 'Quantity', ascending=False)

            SalesID  Quantity
ProductID
382         9218997         3
319         5618699         3
269         9241577         3
187         7058175         3
402        13554503         3
...             ...       ...
186          797457         1
190         2783200         1
192         6563480         1
202         2240383         1
445         3142393         1

[218 rows x 2 columns]

In [107]:
data_2_filtrado_sum

           SalesID  Quantity
ProductID
2           928142         1
4           339673         1
6          5246564         1
8          1751566         1
10         3172239         1
...            ...       ...
440        2400242         2
442        5892505         3
443        4752966         1
444        4701447         1
445        3142393         1

[218 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [113]:
lista_cliente = data_venta_pivot[[33]]

In [114]:
lista_cliente

CustomerID  33
ProductID
1            0
2            0
3            0
4            0
5            0
...         ..
448          0
449          0
450          0
451          0
452          0

[452 rows x 1 columns]

In [115]:
data_2_filtrado_sum

           SalesID  Quantity
ProductID
2           928142         1
4           339673         1
6          5246564         1
8          1751566         1
10         3172239         1
...            ...       ...
440        2400242         2
442        5892505         3
443        4752966         1
444        4701447         1
445        3142393         1

[218 rows x 2 columns]

In [119]:
data_cliente_merge = data_2_filtrado_sum.merge(lista_cliente, left_on='ProductID', right_on='ProductID')
data_cliente_merge.head(5)

           SalesID  Quantity  33
ProductID
2           928142         1   0
4           339673         1   0
6          5246564         1   0
8          1751566         1   0
10         3172239         1   0

In [124]:
data_cliente_merge_recom = data_cliente_merge[data_cliente_merge[33] ==0].sort_values(by= 'Quantity', ascending=False)

In [127]:
data_cliente_merge_recom.head(5)

            SalesID  Quantity  33
ProductID
382         9218997         3   0
442         5892505         3   0
269         9241577         3   0
402        13554503         3   0
174         9102273         2   0

In [131]:
list(data_cliente_merge_recom.index)[0:5]

[382, 442, 269, 402, 174]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [ ]:
similarities = distances[33].sort_values(ascending=False)[1:6]
similarities

In [182]:
dic_recomendacion = {}

for x in distances.columns:
    similarities = distances[x].sort_values(ascending=False)[1:6]
    lista_similares = list(similarities.index)
    data_2_filtrado = data_2.loc[lista_similares,:]
    data_2_filtrado_sum = data_2_filtrado.groupby(by='ProductID').sum()
    data_2_filtrado_sum.sort_values(by= 'Quantity', ascending=False)
    lista_cliente = data_venta_pivot[[x]]
    data_cliente_merge = data_2_filtrado_sum.merge(lista_cliente, left_on='ProductID', right_on='ProductID')
    data_cliente_merge_recom = data_cliente_merge[data_cliente_merge[x] ==0].sort_values(by= 'Quantity', ascending=False)
    
    dic_recomendacion[x] = list(data_cliente_merge_recom.index)[0:5]

In [183]:
dic_recomendacion[33]

[382, 442, 269, 402, 174]

In [184]:
dic_recomendacion[200]

[382, 202, 253, 50, 370]

In [185]:
dic_recomendacion[264]

[423, 263, 372, 193, 287]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [186]:
data_recomendaciones = pd.DataFrame.from_dict(dic_recomendacion, orient = 'index')

In [187]:
data_recomendaciones.reset_index()

     index    0    1    2    3    4
0       33  382  442  269  402  174
1      200  382  202  253   50  370
2      264  423  263  372  193  287
3      356  402  193  125   68  187
4      412  187  444  382    4  393
..     ...  ...  ...  ...  ...  ...
995  97928  101  210  404  135   98
996  98069  409   95  430  227  179
997  98159  365   56  258   42  425
998  98185  178  126  396  103  443
999  98200   33  172  199  105   62

[1000 rows x 6 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [189]:
distances_cos = pd.DataFrame(1/(1 + squareform(pdist(data_venta_pivot.T, 'cosine'))), 
                         index=data_venta_pivot.columns, columns=data_venta_pivot.columns)

In [190]:
dic_recomendacion_cos = {}

for x in distances.columns:
    similarities = distances_cos[x].sort_values(ascending=False)[1:6]
    lista_similares = list(similarities.index)
    data_2_filtrado = data_2.loc[lista_similares,:]
    data_2_filtrado_sum = data_2_filtrado.groupby(by='ProductID').sum()
    data_2_filtrado_sum.sort_values(by= 'Quantity', ascending=False)
    lista_cliente = data_venta_pivot[[x]]
    data_cliente_merge = data_2_filtrado_sum.merge(lista_cliente, left_on='ProductID', right_on='ProductID')
    data_cliente_merge_recom = data_cliente_merge[data_cliente_merge[x] ==0].sort_values(by= 'Quantity', ascending=False)
    
    dic_recomendacion_cos[x] = list(data_cliente_merge_recom.index)[0:5]

In [192]:
data_recomendaciones_cos = pd.DataFrame.from_dict(dic_recomendacion_cos, orient = 'index')

In [194]:
data_recomendaciones_cos.reset_index()

     index    0    1    2    3    4
0       33  167  250    3  141  304
1      200  375  196   91   47  163
2      264  106   35  276  442  214
3      356  235  393  262  199  135
4      412  435  411  360   42  277
..     ...  ...  ...  ...  ...  ...
995  97928  373   15  441  270  101
996  98069  386  438  121   90  125
997  98159   13  146  425  398  169
998  98185  155   26  227   30  126
999  98200  241  134  333   82  127

[1000 rows x 6 columns]