# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [2]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [3]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [4]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [238]:
qty_by_cust = data.groupby(['CustomerID','ProductName'])[['Quantity']].sum()
qty_by_cust.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [231]:
prod_by_cust = pd.pivot_table(data, index='ProductName', values='Quantity', columns='CustomerID', aggfunc='sum', fill_value = 0)
prod_by_cust.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

In [233]:
prod_by_cust = prod_by_cust.transpose()
prod_by_cust.head()

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
200,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
264,0,0,0,0,0,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
412,0,0,0,0,1,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [234]:
#Normalizando datos
prod_by_cust_dist = prod_by_cust.div(prod_by_cust.sum(axis=1), axis=0)
prod_by_cust_dist.head()

ProductName,Anchovy Paste - 56 G Tube,"Appetizer - Mini Egg Roll, Shrimp",Appetizer - Mushroom Tart,Appetizer - Sausage Rolls,Apricots - Dried,Apricots - Halves,Apricots Fresh,Arizona - Green Tea,Artichokes - Jerusalem,Assorted Desserts,...,"Wine - White, Colubia Cresh","Wine - White, Mosel Gold","Wine - White, Schroder And Schyl",Wine - Wyndham Estate Bin 777,Wonton Wrappers,Yeast Dry - Fermipan,Yoghurt Tubes,"Yogurt - Blueberry, 175 Gr",Yogurt - French Vanilla,Zucchini - Yellow
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,0.0,0.0,0.0,0.0,0.015873,0.000000,0.000000,0.0,0.0,0.015873,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.015873,0.0
200,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.012987,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.012987,0.000000,0.0
264,0.0,0.0,0.0,0.0,0.000000,0.015385,0.015385,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.015385,0.0,0.0,0.0,0.000000,0.000000,0.0
356,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.014925,0.0
412,0.0,0.0,0.0,0.0,0.013699,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.013699,0.013699,0.013699,0.0,0.0,0.0,0.000000,0.000000,0.0

In [235]:
dist_eucl = 1/(1+squareform(pdist(prod_by_cust_dist, metric = 'euclidean')))
cust_sim_matrix = pd.DataFrame(dist_eucl, columns=prod_by_cust_dist.index, index=prod_by_cust_dist.index)
cust_sim_matrix.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.854082,0.859145,0.852783,0.856118,0.853239,0.849549,0.848801,0.851224,0.849892,...,0.855130,0.846812,0.850301,0.841254,0.852221,0.846485,0.852848,0.847637,0.856465,0.851614
200,0.854082,1.000000,0.857935,0.855900,0.856445,0.853129,0.863562,0.850521,0.857381,0.856621,...,0.864397,0.856014,0.862447,0.854629,0.856670,0.854046,0.868990,0.857312,0.861508,0.857184
264,0.859145,0.857935,1.000000,0.851801,0.860050,0.851262,0.855847,0.846677,0.854206,0.848997,...,0.861268,0.850766,0.854178,0.848507,0.858909,0.860153,0.859773,0.854246,0.864699,0.853668
356,0.852783,0.855900,0.851801,1.000000,0.852571,0.849431,0.853831,0.851902,0.847607,0.846328,...,0.857171,0.848015,0.852222,0.847706,0.851413,0.851289,0.851219,0.852260,0.860721,0.854377
412,0.856118,0.856445,0.860050,0.852571,1.000000,0.855755,0.858976,0.857221,0.854857,0.855991,...,0.859117,0.862847,0.854943,0.850044,0.858385,0.856629,0.855052,0.856608,0.865269,0.862253

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [237]:
#For customerID = 33
similar_cust = cust_sim_matrix[33].sort_values(ascending=False)[1:6]

print("Similarities for customer 33: \n")

count = 1

for custID, value in dict(similar_cust).items():
    print(f'{count}. Customer {custID} with a value of {value:.5f}')
    count += 1

Similarities for customer 33:

1. Customer 60862 with a value of 0.87054
2. Customer 27672 with a value of 0.86701
3. Customer 6001 with a value of 0.86467
4. Customer 79458 with a value of 0.86467
5. Customer 33759 with a value of 0.86438

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [239]:
similar_cust_product = qty_by_cust.loc[similar_cust.index]
#df.index.get_level_values('CustomerID').value_counts(ascending=False)
similar_cust_product.head()

                                   Quantity
CustomerID ProductName
6001       Apricots - Halves              2
           Apricots Fresh                 2
           Arizona - Green Tea            2
           Assorted Desserts              2
           Beef - Chuck, Boneless         2

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [271]:
ranked_products = similar_cust_product.groupby('ProductName').agg({'Quantity':'sum'}).sort_values(by=['Quantity'], ascending=False)
ranked_products.head()

                            Quantity
ProductName
Wine - Redchard Merritt           59
Cassis                            58
Bread - Calabrese Baguette        45
Wine - Crozes Hermitage E.        45
Thyme - Lemon, Fresh              42

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [266]:
merged = pd.merge(ranked_products, prod_by_cust.transpose()[[33]], on='ProductName')
merged.columns = ['Quantity', 'Purchased']
recommended = merged[merged['Purchased']==0][['Quantity']]
recommended.head()

                               Quantity
ProductName
Wine - Redchard Merritt              59
Bread - Calabrese Baguette           45
Thyme - Lemon, Fresh                 42
Milk Powder                          39
Ecolab - Lime - A - Way 4/4 L        39

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [302]:
recommended_all = dict()

customers = list(data.CustomerID.unique())

for customer in customers:
    
    similar_cust = cust_sim_matrix[customer].sort_values(ascending=False)[1:6]
    similar_cust_product = qty_by_cust.loc[similar_cust.index]
    
    ranked_products = similar_cust_product.groupby('ProductName').agg({'Quantity':'sum'}).sort_values(by=['Quantity'], ascending=False)
    
    merged = pd.merge(ranked_products, prod_by_cust.transpose()[[customer]], on='ProductName')
    merged.columns = ['Quantity', 'Purchased']
    recommended = merged[merged['Purchased']==0][['Quantity']]
    
    recommended_all[customer] = list(recommended.index[0:5])

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [303]:
user_recs = pd.DataFrame.from_dict(recommended_all, orient='index').reset_index()
user_recs.columns = ['CustomerID', 'Recommendation1','Recommendation2','Recommendation3','Recommendation4','Recommendation5']
user_recs = user_recs.set_index('CustomerID')
user_recs.head()

,Recommendation1,Recommendation2,Recommendation3,Recommendation4,Recommendation5
CustomerID,,,,,
61288,Ecolab - Solid Fusion,Appetizer - Sausage Rolls,Bread - English Muffin,Tea - Jasmin Green,"Chocolate - Semi Sweet, Calets"
77352,"Soup - Campbells, Beef Barley",Vaccum Bag 10x13,Chicken - Soup Base,Towels - Paper / Kraft,Coffee Decaf Colombian
40094,Beef - Inside Round,Vinegar - Sherry,Onion Powder,Beef - Top Sirloin,"Chocolate - Semi Sweet, Calets"
23548,"Soup - Campbells, Beef Barley",Mussels - Cultivated,"Mushrooms - Black, Dried",Bagel - Plain,"Salsify, Organic"
78981,Scallops - 10/20,Bouq All Italian - Primerba,Olive - Spread Tapenade,V8 - Berry Blend,Chocolate - Dark

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [304]:
dist_city = 1/(1+squareform(pdist(prod_by_cust_dist, metric = 'cityblock')))
cust_sim_matrix = pd.DataFrame(dist_city, columns=prod_by_cust_dist.index, index=prod_by_cust_dist.index)

In [305]:
recommended_all = dict()

customers = list(data.CustomerID.unique())

for customer in customers:
    
    similar_cust = cust_sim_matrix[customer].sort_values(ascending=False)[1:6]
    similar_cust_product = qty_by_cust.loc[similar_cust.index]
    
    ranked_products = similar_cust_product.groupby('ProductName').agg({'Quantity':'sum'}).sort_values(by=['Quantity'], ascending=False)
    
    merged = pd.merge(ranked_products, prod_by_cust.transpose()[[customer]], on='ProductName')
    merged.columns = ['Quantity', 'Purchased']
    recommended = merged[merged['Purchased']==0][['Quantity']]
    
    recommended_all[customer] = list(recommended.index[0:5])

In [306]:
user_recs = pd.DataFrame.from_dict(recommended_all, orient='index').reset_index()
user_recs.columns = ['CustomerID', 'Recommendation1','Recommendation2','Recommendation3','Recommendation4','Recommendation5']
user_recs = user_recs.set_index('CustomerID')
user_recs.head()

,Recommendation1,Recommendation2,Recommendation3,Recommendation4,Recommendation5
CustomerID,,,,,
61288,"Cheese - Brie, Triple Creme",Guinea Fowl,Blueberries,"Lentils - Red, Dry",Garbage Bags - Clear
77352,Lettuce - Frisee,Juice - Apple Cider,Towels - Paper / Kraft,Bread - Rye,Mangoes
40094,Truffle Cups - Brown,"Bread - Roll, Soft White Round",Juice - V8 Splash,Beef - Inside Round,Table Cloth - 53x69 Colour
23548,Olives - Stuffed,Beef - Top Sirloin - Aaa,Mayonnaise - Individual Pkg,Sunflower Seed Raw,Cookies Cereal Nut
78981,Mussels - Frozen,Onion Powder,Bread - Raisin Walnut Oval,Sauerkraut,Garbage Bags - Clear