# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [16]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform
import numpy as np

In [5]:
data = pd.read_csv(r'C:\Users\denni\Documents\Labs_Ironhack\lab-intro-recommender-systems\data\customer_product_sales.csv')

In [6]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [13]:
data.shape

(68584, 7)

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [234]:
subdf=data.groupby(['CustomerID','ProductName'])['Quantity'].sum().reset_index()

df= pd.DataFrame(subdf)
df.head()

   CustomerID                    ProductName  Quantity
0          33               Apricots - Dried         1
1          33              Assorted Desserts         1
2          33        Bandage - Flexible Neon         1
3          33  Bar Mix - Pina Colada, 355 Ml         1
4          33         Beans - Kidney, Canned         1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [235]:
pivotTable = pd.pivot_table(data, index= "ProductName", columns='CustomerID', values='Quantity', aggfunc=np.sum, fill_value=0)
pivotTable

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,25,0,0,0,0,0,0
Yoghurt Tubes,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,25,0,0
"Yogurt - Blueberry, 175 Gr",0,1,0,0,0,0,0,0,0,0,...,25,0,0,25,0,0,0,0,0,0
Yogurt - French Vanilla,1,0,0,1,0,0,2,0,0,1,...,0,0,25,0,0,0,0,0,0,25
Zucchini - Yellow,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [236]:
squareform(pdist(pivotTable.T, 'euclidean'))

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

In [237]:
distances = pd.DataFrame(1/(1 + squareform(pdist(pivotTable.T, 'euclidean'))), index=pivotTable.columns, columns=pivotTable.columns)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [270]:
ids= distances[200].sort_values(ascending = False)[1:].head(5).reset_index()
ids_l=list(ids['CustomerID'])

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [271]:
selection = df[df.CustomerID.isin(ids_l)]
selection

      CustomerID                        ProductName  Quantity
1082        1072  Appetizer - Mini Egg Roll, Shrimp         1
1083        1072          Appetizer - Sausage Rolls         1
1084        1072             Beans - Kidney, Canned         1
1085        1072     Beef - Montreal Smoked Brisket         1
1086        1072                Beef - Striploin Aa         1
...          ...                                ...       ...
3263        3909       Wine - Charddonnay Errazuriz         2
3264        3909           Wine - Fume Blanc Fetzer         1
3265        3909     Wine - Magnotta, Merlot Sr Vqa         1
3266        3909                Wine - Toasted Head         1
3267        3909           Wine - Valpolicella Masi         1

[262 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [324]:
df_similar= selection.groupby(['ProductName'])['Quantity'].sum().reset_index().sort_values('Quantity', ascending = False)
df_similar

                         ProductName  Quantity
159     Soup - Campbells Bean Medley         4
103  Muffin - Carrot Individual Wrap         3
8                           Bay Leaf         3
136                    Pork - Kidney         3
129            Pepper - Black, Whole         3
..                               ...       ...
86                              Kiwi         1
87             Knife Plastic - White         1
90                        Lambcasing         1
91                Lentils - Red, Dry         1
206                    Yoghurt Tubes         1

[207 rows x 2 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [325]:
df_recom = pd.merge (df_similar, pivotTable, on="ProductName")
usuario= df_recom[df_recom[200]== 0]

final= usuario.sort_values('Quantity', ascending = False)["ProductName"].head(5)
pd.DataFrame(final).reset_index(drop=True)

                       ProductName
0     Soup - Campbells Bean Medley
1                         Bay Leaf
2                    Pork - Kidney
3                      Wanton Wrap
4  Muffin - Carrot Individual Wrap

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [327]:
recommendations={}
customers= list(data['CustomerID'].unique())

In [328]:
for name in customers:
    similitud= distances[name].sort_values(ascending= False)[1:].head(5).reset_index()
    ids= list(similitud['CustomerID'])
    selections= df[df.CustomerID.isin(ids)]
    df_similar= selections.groupby(['ProductName'])['Quantity'].sum().reset_index().sort_values('Quantity', ascending = False)
    df_recom = pd.merge (df_similar, pivotTable, on="ProductName")
    usuario= df_recom[df_recom[name]== 0]
    final= usuario.sort_values('Quantity', ascending = False)["ProductName"].head(5)
    final_l=list(final)
    recommendations[name]= final_l

In [329]:
recommendations[200]

['Soup - Campbells Bean Medley',
 'Bay Leaf',
 'Pork - Kidney',
 'Wanton Wrap',
 'Muffin - Carrot Individual Wrap']

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [334]:
df_2 = pd.DataFrame.from_dict(recommendations, orient ='index').reset_index()
df_2.rename(columns = {'index':'CustomerID',0:'Recommentation_1', 1:'Recommentation_2', 2:'Recommentation_3', 3:'Recommentation_4', 4:'Recommentation_5'})

,CustomerID,Recommentation_1,Recommentation_2,Recommentation_3,Recommentation_4,Recommentation_5
0,61288,Jagermeister,Chicken - Soup Base,Lime Cordial - Roses,Macaroons - Two Bite Choc,Flavouring - Orange
1,77352,Wine - Valpolicella Masi,Tahini Paste,Tuna - Salad Premix,Chicken - Soup Base,Isomalt
2,40094,Bread - Italian Corn Meal Poly,Puree - Mocha,Tuna - Salad Premix,Sherry - Dry,Beer - Sleemans Cream Ale
3,23548,Squid - Tubes / Tenticles 10/20,Wanton Wrap,Puree - Mocha,Pernod,Sprouts - Baby Pea Tendrils
4,78981,Vanilla Beans,Lettuce - Frisee,"Yogurt - Blueberry, 175 Gr",Cinnamon Buns Sticky,Pop Shoppe Cream Soda
...,...,...,...,...,...,...
995,49005,"Pasta - Penne, Rigate, Dry",Browning Caramel Glace,Tea - Decaf Lipton,"Garlic - Primerba, Paste","Wine - Red, Harrow Estates, Cab"
996,41286,Veal - Inside,Wonton Wrappers,"Veal - Inside, Choice",Bread Crumbs - Japanese Style,Wasabi Powder
997,85878,Olives - Kalamata,Wine - White Cab Sauv.on,Veal - Eye Of Round,Bread - Calabrese Baguette,Cheese - Wine
998,68506,"Veal - Brisket, Provimi,bnls",Beef - Ground Medium,"Rosemary - Primerba, Paste",Scallops - 10/20,"Oregano - Dry, Rubbed"
999,3472,"Pepper - Black, Whole",Butter - Unsalted,Wine - Ej Gallo Sierra Valley,Wine - Blue Nun Qualitatswein,Beef Wellington

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [336]:
distances_2 = pd.DataFrame(1/(1 + squareform(pdist(pivotTable.T, 'cosine'))), index=pivotTable.columns, columns=pivotTable.columns)

In [340]:
recommendations_2={}
customers= list(data['CustomerID'].unique())

In [341]:
for name in customers:
    similitud= distances_2[name].sort_values(ascending= False)[1:].head(5).reset_index()
    ids= list(similitud['CustomerID'])
    selections= df[df.CustomerID.isin(ids)]
    df_similar= selections.groupby(['ProductName'])['Quantity'].sum().reset_index().sort_values('Quantity', ascending = False)
    df_recom = pd.merge (df_similar, pivotTable, on="ProductName")
    usuario= df_recom[df_recom[name]== 0]
    final= usuario.sort_values('Quantity', ascending = False)["ProductName"].head(5)
    final_l=list(final)
    recommendations_2[name]= final_l

In [342]:
recommendations_2[200]

['Longos - Grilled Salmon With Bbq',
 'Snapple Lemon Tea',
 'General Purpose Trigger',
 'Tomatoes Tear Drop',
 'Thyme - Lemon, Fresh']

In [343]:
df_3 = pd.DataFrame.from_dict(recommendations_2, orient ='index').reset_index()
df_3.rename(columns = {'index':'CustomerID',0:'Recommentation_1', 1:'Recommentation_2', 2:'Recommentation_3', 3:'Recommentation_4', 4:'Recommentation_5'})

,CustomerID,Recommentation_1,Recommentation_2,Recommentation_3,Recommentation_4,Recommentation_5
0,61288,Jagermeister,Wine - Two Oceans Cabernet,Tofu - Firm,Appetizer - Sausage Rolls,Dc - Frozen Momji
1,77352,Bread - Rye,Fondant - Icing,Lettuce - Frisee,Pork - Kidney,Bread - French Baquette
2,40094,Juice - V8 Splash,Beef - Inside Round,"Bread - Roll, Soft White Round",Truffle Cups - Brown,Cake - Mini Cheesecake
3,23548,Juice - Orange,Bagel - Plain,Olives - Stuffed,Veal - Sweetbread,Cinnamon Buns Sticky
4,78981,Wine - Blue Nun Qualitatswein,Cookies - Assorted,Cheese - Cottage Cheese,Baking Powder,Quiche Assorted
...,...,...,...,...,...,...
995,49005,Squid - Tubes / Tenticles 10/20,"Pepper - White, Ground",Soup Knorr Chili With Beans,Cheese - Bocconcini,Barramundi
996,41286,"Hickory Smoke, Liquid","Salsify, Organic",Dc Hikiage Hira Huba,Oil - Shortening - All - Purpose,Banana - Leaves
997,85878,Bread - Calabrese Baguette,French Pastry - Mini Chocolate,Cheese - Parmesan Grated,Foam Dinner Plate,Cheese - Mix
998,68506,Flavouring - Orange,Longos - Chicken Wings,"Cheese - Brie, Triple Creme",Tia Maria,Fondant - Icing
999,3472,Creme De Banane - Marie,"Wine - Red, Colio Cabernet","Nut - Pistachio, Shelled",Napkin White - Starched,"Crab - Dungeness, Whole"