# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from scipy.spatial.distance import pdist, squareform

from collections import defaultdict

import itertools

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
data_1 = data.groupby(by=[data['CustomerID'], data['ProductName']], 
                      sort = False).agg({'Quantity':'sum'})

data_1.head()

                                 Quantity
CustomerID ProductName
61288      Bread - Hot Dog Buns        16
77352      Bread - Hot Dog Buns        20
40094      Bread - Hot Dog Buns        11
23548      Bread - Hot Dog Buns         6
78981      Bread - Hot Dog Buns        20

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
data_2 = pd.pivot_table(data, 
                        index = ['ProductID', 'ProductName'], 
                        columns = 'CustomerID', 
                        values = 'Quantity', 
                        fill_value = 0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
# squareform: Convert a vector-form distance vector to a square-form distance matrix, and vice-versa.
# pdist: Pairwise distances between observations in n-dimensional space.

distances = pd.DataFrame(1/(1 + squareform(pdist(data_2.T, 'euclidean'))), 
                        index = data_2.columns, columns = data_2.columns)

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
similarities = distances[33].sort_values(ascending=False)[1:7]
s_l = list(similarities.index)
s_l

[3909, 264, 3531, 2503, 3305, 1577]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [8]:
data_3 = data_1.reset_index()
data_3_1 = data_3.CustomerID.isin(s_l)
data_3 = data_3[data_3_1]

In [9]:
data_3 = data_3.groupby(by = [data_3['CustomerID'], data_3['ProductName']]).agg({'Quantity' : 'sum'})

In [10]:
data_3

                                           Quantity
CustomerID ProductName
264        Apricots - Halves                      1
           Apricots Fresh                         1
           Bacardi Breezer - Tropical             1
           Bagel - Plain                          1
           Banana - Leaves                        1
...                                             ...
3909       Wine - Charddonnay Errazuriz           2
           Wine - Fume Blanc Fetzer               1
           Wine - Magnotta, Merlot Sr Vqa         1
           Wine - Toasted Head                    1
           Wine - Valpolicella Masi               1

[349 rows x 1 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [11]:
# Reference: https://stackoverflow.com/questions/12096252/use-a-list-of-values-to-select-rows-from-a-pandas-dataframe
'''
data_3 = data[['CustomerID', 'ProductName', 'Quantity']]

data_3 = data_3[(data_3['CustomerID'].isin(s_l) )]

data_3 = data_3.groupby(by = [data_3['CustomerID'], data_3['ProductName']], 
                        as_index = 'CustomerID', 
                        sort = False).agg({'Quantity' : 'sum'})

'''
data_3 = data_3.sort_values(by = 'Quantity', ascending = False)

In [12]:
data_3

                                      Quantity
CustomerID ProductName
3531       Salsify, Organic                  3
3909       Oranges - Navel, 72               2
1577       Beef - Texas Style Burger         2
3531       Squid U5 - Thailand               2
           Sunflower Seed Raw                2
...                                        ...
1577       Tray - 16in Rnd Blk               1
           Tomatoes Tear Drop                1
           Tea - Jasmin Green                1
           Table Cloth 54x72 White           1
3909       Wine - Valpolicella Masi          1

[349 rows x 1 columns]

###

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [13]:
# DF for items purchased by CustomerID 33
data_4 = data[['CustomerID', 'ProductName', 'Quantity']]
data_4 = data_4[(data_4['CustomerID'] == 33)]


data_5 = pd.merge(data_3, data_4, on = ['ProductName'])

data_5 = data_5.groupby(by = [data_5['CustomerID'], data_5['ProductName']], 
                        as_index = 'CustomerID', 
                        sort = False).agg({'Quantity_x' : 'sum', 
                                           'Quantity_y' : 'sum'})

In [14]:
data_5 = data_5.reset_index()
p_l = list(data_5['ProductName'])

In [15]:
# Reference: https://stackoverflow.com/questions/19960077/how-to-filter-pandas-dataframe-using-in-and-not-in-like-in-sql

data_3 = data_3.reset_index()

df_f = data_3[~data_3['ProductName'].isin(p_l)][:5]

In [16]:
r_l = list(df_f['ProductName'])

In [17]:
r_l

['Oranges - Navel, 72',
 'Beef - Texas Style Burger',
 'Squid U5 - Thailand',
 'Sunflower Seed Raw',
 'Guinea Fowl']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [18]:
# Step 1: Getting DataFrame with essencials 

def esc_df(file_route):
    df = pd.read_csv(file_route)
    return df.groupby(by=[data['CustomerID'], data['ProductName']],
                     sort = False).agg({'Quantity' : 'sum'})

In [19]:
df_1 = esc_df('../data/customer_product_sales.csv')

In [20]:
# Step 2: PivotTable for product customer matrix

def pt_cm(file_route):
    df = pd.read_csv(file_route)
    return pd.pivot_table(df, 
                         index = ['ProductID', 'ProductName'], 
                         columns = 'CustomerID', 
                         values = 'Quantity', 
                         fill_value = 0)

In [21]:
pt_1 = pt_cm('../data/customer_product_sales.csv')

In [22]:
# Step 3: Customer Similarity Matrix 

def distances(pt_cm, metric):
    return pd.DataFrame(1/(1 + squareform(pdist(pt_cm.T, metric))), 
                        index = pt_cm.columns, columns = pt_cm.columns)

In [23]:
distance = distances(pt_1, 'euclidean')

In [24]:
# Step 4: Similarities by CustomerID - Top 5

def similarities(distance):
    simil_dict = defaultdict(list)
    u_v = distance.index.unique()
    for i in u_v:
        simil = distance[i].sort_values(ascending = False)[1:7]
        s_l = list(simil.index)
        simil_dict[i].append(s_l)
    return simil_dict

In [25]:
simil_dict = pd.DataFrame(similarities(distance))

In [26]:
# Step 4.1: Getting DF items from top 5 related users by user 

def prod_related_customers(simil_dict):
    stp_1 = [simil_dict[item] for item in simil_dict.columns]
    stp_2 = pd.DataFrame(stp_1)
    stp_2.reset_index(inplace=True)
    stp_3 = stp_2.rename({'index':'CustomerID', 0:"RelatedUsers"}, axis='columns')
    
    return stp_3

In [27]:
related_customers_df = prod_related_customers(simil_dict)

In [28]:
related_customers_df

     CustomerID                                RelatedUsers
0            33         [3909, 264, 3531, 2503, 3305, 1577]
1           200        [1920, 1072, 3253, 3317, 3909, 2939]
2           264          [33, 2915, 1920, 1072, 3472, 1008]
3           356        [3317, 3305, 3253, 3472, 2503, 1008]
4           412         [3317, 3472, 3535, 3253, 1008, 639]
..          ...                                         ...
995       97928  [18796, 14012, 22322, 11441, 29910, 18728]
996       98069  [31323, 23377, 27160, 17136, 25994, 20125]
997       98159  [22204, 32558, 23001, 23176, 39110, 16481]
998       98185  [32558, 23176, 33381, 47303, 18441, 32324]
999       98200  [11883, 23165, 15415, 18040, 27209, 13823]

[1000 rows x 2 columns]

In [29]:
# Creating a DF with the top 5 related users top products

def recommended_products(related_customers_df, df_1):
    products_dict = list()
    stp_1 = df_1.reset_index()
    for item in related_customers_df['RelatedUsers']:
        stp_2 = stp_1.CustomerID.isin(item)
        stp_3 = stp_1[stp_2]
        stp_4 = stp_3.groupby(by = [stp_3['CustomerID'],
                                    stp_3['ProductName']]).agg({'Quantity' : 'sum'})
        stp_5 = stp_4.sort_values(by = 'Quantity', ascending = False)
        stp_6 = stp_5.reset_index()
        stp_7 = list(stp_6['ProductName'][:5])
        products_dict.append(stp_7)
    return products_dict

In [30]:
list_recommendation = recommended_products(related_customers_df, df_1)

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [31]:
stp_8 = pd.DataFrame(recommended_products(related_customers_df, df_1),
             index = related_customers_df['CustomerID'])
stp_8['RecommendedProducts'] = stp_8[0] + ', ' + stp_8[1] + ', ' + stp_8[2] + ', ' + stp_8[3] + ', ' + stp_8[4]

In [32]:
stp_8.drop(labels=[0,1,2,3,4], axis = 1, inplace = True)
stp_8.head()

                                          RecommendedProducts
CustomerID
33          Salsify, Organic, Oranges - Navel, 72, Beef - ...
200         Pork - Kidney, Ice Cream Bar - Oreo Cone, Ice ...
264         Cheese - Parmesan Grated, Pork - Kidney, Ice C...
356         Pepper - Black, Whole, Sage - Ground, Beets - ...
412         Wine - Vidal Icewine Magnotta, Table Cloth 81x...

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [33]:
distance = distances(pt_1, 'correlation')
simil_dict = pd.DataFrame(similarities(distance))
related_customers_df = prod_related_customers(simil_dict)
list_recommendation = recommended_products(related_customers_df, df_1)
stp_8 = pd.DataFrame(recommended_products(related_customers_df, df_1),
             index = related_customers_df['CustomerID'])
stp_8['RecommendedProducts'] = stp_8[0] + ', ' + stp_8[1] + ', ' + stp_8[2] + ', ' + stp_8[3] + ', ' + stp_8[4]
stp_8.drop(labels=[0,1,2,3,4], axis = 1, inplace = True)
stp_8.head()

                                          RecommendedProducts
CustomerID
33          Muffin - Zero Transfat, Phyllo Dough, Pasta - ...
200         Blueberries, Wiberg Super Cure, Pasta - Cheese...
264         Chicken - Wieners, Cookie - Dough Variety, Pea...
356         Yogurt - Blueberry, 175 Gr, Mussels - Frozen, ...
412         Muffin Mix - Blueberry, Halibut - Fletches, Sp...

In [34]:
distance = distances(pt_1, 'cityblock')
simil_dict = pd.DataFrame(similarities(distance))
related_customers_df = prod_related_customers(simil_dict)
list_recommendation = recommended_products(related_customers_df, df_1)
stp_8 = pd.DataFrame(recommended_products(related_customers_df, df_1),
             index = related_customers_df['CustomerID'])
stp_8['RecommendedProducts'] = stp_8[0] + ', ' + stp_8[1] + ', ' + stp_8[2] + ', ' + stp_8[3] + ', ' + stp_8[4]
stp_8.drop(labels=[0,1,2,3,4], axis = 1, inplace = True)
stp_8.head()

                                          RecommendedProducts
CustomerID
33          Salsify, Organic, Oranges - Navel, 72, Beef - ...
200         Pork - Kidney, Ice Cream Bar - Oreo Cone, Ice ...
264         Cheese - Parmesan Grated, Pork - Kidney, Ice C...
356         Pepper - Black, Whole, Sage - Ground, Beets - ...
412         Veal - Sweetbread, Table Cloth 81x81 White, Po...

In [35]:
distance = distances(pt_1, 'cosine')
simil_dict = pd.DataFrame(similarities(distance))
related_customers_df = prod_related_customers(simil_dict)
list_recommendation = recommended_products(related_customers_df, df_1)
stp_8 = pd.DataFrame(recommended_products(related_customers_df, df_1),
             index = related_customers_df['CustomerID'])
stp_8['RecommendedProducts'] = stp_8[0] + ', ' + stp_8[1] + ', ' + stp_8[2] + ', ' + stp_8[3] + ', ' + stp_8[4]
stp_8.drop(labels=[0,1,2,3,4], axis = 1, inplace = True)
stp_8.head()

                                          RecommendedProducts
CustomerID
33          Bread Crumbs - Japanese Style, Pasta - Cheese ...
200         Pasta - Cheese / Spinach Bauletti, Wiberg Supe...
264         Scallops - 10/20, Chicken - Wieners, Bouq All ...
356         Chicken - Soup Base, Ecolab - Lime - A - Way 4...
412         Sprouts - Alfalfa, Halibut - Fletches, Wine - ...

In [36]:
distance = distances(pt_1, 'jaccard')
simil_dict = pd.DataFrame(similarities(distance))
related_customers_df = prod_related_customers(simil_dict)
list_recommendation = recommended_products(related_customers_df, df_1)
stp_8 = pd.DataFrame(recommended_products(related_customers_df, df_1),
             index = related_customers_df['CustomerID'])
stp_8['RecommendedProducts'] = stp_8[0] + ', ' + stp_8[1] + ', ' + stp_8[2] + ', ' + stp_8[3] + ', ' + stp_8[4]
stp_8.drop(labels=[0,1,2,3,4], axis = 1, inplace = True)
stp_8.head()

                                          RecommendedProducts
CustomerID
33          Salsify, Organic, Pop Shoppe Cream Soda, Foam ...
200         Pork - Kidney, Lime Cordial - Roses, Nantuket ...
264         Cheese - Parmesan Grated, V8 - Berry Blend, Ch...
356         Sausage - Breakfast, Beans - Wax, Cocktail Nap...
412         Cumin - Whole, Sausage - Breakfast, Watercress...