# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
df_group = data.groupby(['CustomerID', 'ProductName']).agg({'Quantity':'sum'}).reset_index()
df_group

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
df_pivot = pd.pivot_table(data = df_group, index = ['ProductName'], columns=['CustomerID'],  values = ['Quantity'], fill_value = 0).reset_index(drop = True)
df_pivot

           Quantity                                                        \
CustomerID    33    200   264   356   412   464   477   639   649   669
0                 0     0     0     0     0     0     0     1     0     0
1                 0     0     0     0     0     0     0     0     0     0
2                 0     0     0     0     0     0     0     1     0     0
3                 0     0     0     0     0     0     0     0     0     0
4                 1     0     0     0     1     0     0     0     0     0
..              ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
447               0     0     0     0     0     0     0     0     0     0
448               0     0     0     0     0     0     0     0     2     0
449               0     1     0     0     0     0     0     0     0     0
450               1     0     0     1     0     0     2     0     0     1
451               0     0     0     0     0     0     0     0     0     0

            ...
CustomerID  ... 97697 97753 97769 97793 97900 97928 98069 98159 98185 98200
0           ...     0    25     0     0     0     0     0     0     0     0
1           ...    25    25     0     0     0     0     0     0     0     0
2           ...    25     0     0     0     0     0     0     0    25     0
3           ...     0     0     0     0    25    25    25     0    25     0
4           ...     0    25     0     0     0     0     0     0     0     0
..          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
447         ...     0     0     0    25     0     0     0     0     0     0
448         ...     0     0     0     0     0     0     0    25     0     0
449         ...    25     0     0    25     0     0     0     0     0     0
450         ...     0     0    25     0     0     0     0     0     0    25
451         ...     0     0     0     0     0     0     0     0     0     0

[452 rows x 1000 columns]

In [6]:
columnas = []
for c in df_pivot:
    columnas.append(c[1])
    
len(columnas)

1000

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [7]:
dist_matrix = pd.DataFrame(1/(1 + squareform(pdist(df_pivot.T,'euclidean'))), index = columnas, columns=columnas)
dist_matrix

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [8]:
similar = dist_matrix[200].sort_values(ascending=False)[1:6]
similar

3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [9]:
df_top5 = df_group[df_group['CustomerID'].isin([3317,1072,3535,1920,3909])]
df_top5

      CustomerID                        ProductName  Quantity
1082        1072  Appetizer - Mini Egg Roll, Shrimp         1
1083        1072          Appetizer - Sausage Rolls         1
1084        1072             Beans - Kidney, Canned         1
1085        1072     Beef - Montreal Smoked Brisket         1
1086        1072                Beef - Striploin Aa         1
...          ...                                ...       ...
3263        3909       Wine - Charddonnay Errazuriz         2
3264        3909           Wine - Fume Blanc Fetzer         1
3265        3909     Wine - Magnotta, Merlot Sr Vqa         1
3266        3909                Wine - Toasted Head         1
3267        3909           Wine - Valpolicella Masi         1

[262 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [10]:
df_rank = df_top5.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending=False)
df_rank

                                 Quantity
ProductName
Soup - Campbells Bean Medley            4
Muffin - Carrot Individual Wrap         3
Bay Leaf                                3
Pork - Kidney                           3
Pepper - Black, Whole                   3
...                                   ...
Kiwi                                    1
Knife Plastic - White                   1
Lambcasing                              1
Lentils - Red, Dry                      1
Yoghurt Tubes                           1

[207 rows x 1 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [11]:
df_merge = pd.merge(df_rank, df_top5, on = 'ProductName')
df_merge.sort_values(by = 'Quantity_x')
df_merge

                         ProductName  Quantity_x  CustomerID  Quantity_y
0       Soup - Campbells Bean Medley           4        1072           1
1       Soup - Campbells Bean Medley           4        3317           1
2       Soup - Campbells Bean Medley           4        3535           1
3       Soup - Campbells Bean Medley           4        3909           1
4    Muffin - Carrot Individual Wrap           3        1072           2
..                               ...         ...         ...         ...
257                             Kiwi           1        3317           1
258            Knife Plastic - White           1        1072           1
259                       Lambcasing           1        1920           1
260               Lentils - Red, Dry           1        1072           1
261                    Yoghurt Tubes           1        3535           1

[262 rows x 4 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [61]:
recomendaciones = {}
customers = list(df_group['CustomerID'].unique())
count = 0
# Step 4
for cust in customers:
    dat = dist_matrix[cust].sort_values(ascending=False)[1:6].reset_index()
    for d in dat.index:
        recomendaciones[dat['index'][d]] = dat[cust][d]

# Step 5
recomendaciones.keys()
df_tops = df_group[df_group['CustomerID'].isin(recomendaciones.keys())]
# Step 6
df_ranks = df_tops.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending=False)
# Step 7 
df_recomienda = pd.merge(df_ranks, df_tops, on = 'ProductName')
df_recomienda.sort_values(by = 'ProductName')

                     ProductName  Quantity_x  CustomerID  Quantity_y
10207  Anchovy Paste - 56 G Tube         280        6734           2
10223  Anchovy Paste - 56 G Tube         280       16997           5
10222  Anchovy Paste - 56 G Tube         280       15851           5
10221  Anchovy Paste - 56 G Tube         280       15165           4
10220  Anchovy Paste - 56 G Tube         280       14977           4
...                          ...         ...         ...         ...
8389           Zucchini - Yellow         290       20446           6
8390           Zucchini - Yellow         290       21795           6
8391           Zucchini - Yellow         290       22454           6
8393           Zucchini - Yellow         290       22508           6
8386           Zucchini - Yellow         290       18688           5

[23186 rows x 4 columns]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [65]:
df_recomienda = df_recomienda[['CustomerID','ProductName']]
df_recomienda.sort_values(by='CustomerID')

       CustomerID                  ProductName
4204           33  Cake - Box Window 10x10x2.5
15749          33  Pork - Bacon, Double Smoked
13878          33               Black Currants
132            33      Crab - Imitation Flakes
15361          33       Beans - Kidney, Canned
...           ...                          ...
1759        57737             Vaccum Bag 10x13
9870        57737     Garlic - Primerba, Paste
9925        57737       Towels - Paper / Kraft
4499        57737            Veal - Sweetbread
5509        57737                 Cheese - Mix

[23186 rows x 2 columns]

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [79]:
dist_matrix2 = pd.DataFrame(1/(1 + squareform(pdist(df_pivot.T,'correlation'))), index = columnas, columns=columnas)
# dist_matrix2
similar2 = dist_matrix2[200].sort_values(ascending=False)[1:6].reset_index()
list(similar2['index'])

df_top2= df_group[df_group['CustomerID'].isin(list(similar2['index']))]

df_rank2 = df_top2.groupby(['ProductName']).agg({'Quantity':'sum'}).sort_values(by = 'Quantity', ascending=False)
df_rank2

df_recomienda = pd.merge(df_rank2, df_top2, on = 'ProductName')
df_recomienda.sort_values(by = 'ProductName')

df_recomienda = df_recomienda[['CustomerID','ProductName']]
df_recomienda.sort_values(by='CustomerID')

     CustomerID                     ProductName
0         17407               Olives - Kalamata
219       17407  Carbonated Water - Blackcherry
217       17407       Ice Cream Bar - Oreo Cone
215       17407      Wine - Magnotta - Cab Sauv
213       17407            Scallop - St. Jaques
..          ...                             ...
119       85292          Ocean Spray - Ruby Red
120       85292             Raspberries - Fresh
31        85292             Tray - 16in Rnd Blk
25        85292             Squid U5 - Thailand
27        85292    Langers - Ruby Red Grapfruit

[289 rows x 2 columns]