# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('/Users/user/lab-intro-recommender-systems/data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [25]:
data_customer = data.groupby( by = ['CustomerID','ProductName']).agg({'Quantity':'sum'})

In [26]:
data_customer.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [127]:
pivot_new = data_customer.pivot_table(values='Quantity', index=['ProductName'],columns=['CustomerID'])
pivot_new.fillna(0, inplace = True)

In [128]:
pivot_new

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [129]:
#square convierte un vector de distancia a una matriz de distancia de forma cuadrada
#pdist mide la distancia entre cada categoria (en este caso de customer)
squareform(pdist(pivot_new, metric='euclidean'))

array([[  0.        , 279.99642855, 253.66907577, ..., 255.67166444,
        258.0910692 , 278.47800631],
       [279.99642855,   0.        , 271.49953959, ..., 265.7367118 ,
        279.55500353, 286.80655502],
       [253.66907577, 271.49953959,   0.        , ..., 245.27535547,
        253.01580978, 269.43644891],
       ...,
       [255.67166444, 265.7367118 , 245.27535547, ...,   0.        ,
        264.14200726, 268.28343221],
       [258.0910692 , 279.55500353, 253.01580978, ..., 264.14200726,
          0.        , 273.15014186],
       [278.47800631, 286.80655502, 269.43644891, ..., 268.28343221,
        273.15014186,   0.        ]])

In [130]:
# aqui los resultados de squareform los transofrmamos a datos de 0 a 1 para
#poder ver la correlación
distances = pd.DataFrame(1/(1 + squareform(pdist(pivot_new.T, 'euclidean'))), 
                         index=pivot_new.columns, columns=pivot_new.columns)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [131]:
customer200 = distances.iloc[:, 1].sort_values(ascending=False)[1:6]
customer200

CustomerID
3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [139]:
cruce_datos_1 = pivot_new[customer200.index].astype(int)
cruce_datos_1

CustomerID                         3317  1072  3535  1920  3909
ProductName
Anchovy Paste - 56 G Tube             0     0     1     0     0
Appetizer - Mini Egg Roll, Shrimp     0     1     0     0     0
Appetizer - Mushroom Tart             0     0     0     0     0
Appetizer - Sausage Rolls             0     1     0     0     0
Apricots - Dried                      0     0     1     0     0
...                                 ...   ...   ...   ...   ...
Yeast Dry - Fermipan                  0     1     0     0     0
Yoghurt Tubes                         0     0     1     0     0
Yogurt - Blueberry, 175 Gr            0     0     0     0     0
Yogurt - French Vanilla               0     0     0     0     0
Zucchini - Yellow                     0     0     0     0     0

[452 rows x 5 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [140]:
cruce_datos_1['Total'] = cruce_datos_1.sum(axis=1)

In [141]:
cruce_datos_1.sort_values(by='Total',ascending=False)

CustomerID                       3317  1072  3535  1920  3909  Total
ProductName
Soup - Campbells Bean Medley        1     1     1     0     1      4
Muffin - Carrot Individual Wrap     0     2     0     1     0      3
Bay Leaf                            1     0     0     0     2      3
Lamb - Ground                       1     0     1     1     0      3
Pepper - Black, Whole               2     0     1     0     0      3
...                               ...   ...   ...   ...   ...    ...
Pears - Bosc                        0     0     0     0     0      0
Peas - Frozen                       0     0     0     0     0      0
Cheese - Mix                        0     0     0     0     0      0
Pecan Raisin - Tarts                0     0     0     0     0      0
Zucchini - Yellow                   0     0     0     0     0      0

[452 rows x 6 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [142]:
fusion = pivot_new.merge(cruce_datos_1['Total'], on ='ProductName')

In [143]:
fusion.head()

,33,200,264,356,412,464,477,639,649,669,...,97753,97769,97793,97900,97928,98069,98159,98185,98200,Total
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0,1
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [152]:
productos_comprados = fusion[fusion[200] == 0].sort_values(by='Total', ascending=False)

In [154]:
productos_comprados['Total'].head(5)

ProductName
Soup - Campbells Bean Medley       4
Pork - Kidney                      3
Wanton Wrap                        3
Muffin - Carrot Individual Wrap    3
Bay Leaf                           3
Name: Total, dtype: int64

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [156]:
recos = {} 
ID_unico = data.CustomerID.unique()
#ID_unico

In [169]:
#ahora crearemos una funcion que itere por cada uno de los ID para repetir los pasos
#para iterar tomamos la tabla donde nos pone la correlacion de cada cliente

for id in ID_unico:
    #Distancia
    # mi tabla se llama distances
    
    #Similarities 
    top_tabla = distances[id].sort_values(ascending = False)[1:6]
    #busco a mi top de clientes en tabla dinamica original
    match = pivot_new[top_tabla.index].astype(int)
    #creo la nueva columna para esta variable
    match['Total'] = match.sum(axis = 1)
    #ahora hago el merge usando el nombre del producto para que se pueda unir
    tabla_merge = pivot_new.merge(match['Total'], on = 'ProductName')
    productos_comprados_2 = list(tabla_merge[tabla_merge[id] == 0].nlargest(5,'Total').index)
    recos.update({id:productos_comprados_2})

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [170]:

lista_recomendaciones = pd.DataFrame.from_dict(recos, orient='index')
lista_recomendaciones.head()

,0,1,2,3,4
61288,Chicken - Soup Base,Jagermeister,Lime Cordial - Roses,Macaroons - Two Bite Choc,Dc Hikiage Hira Huba
77352,Tahini Paste,Wine - Valpolicella Masi,Tuna - Salad Premix,Chicken - Soup Base,Isomalt
40094,Bread - Italian Corn Meal Poly,Puree - Mocha,Beer - Sleemans Cream Ale,Chocolate - Feathers,Grouper - Fresh
23548,Squid - Tubes / Tenticles 10/20,Banana Turning,Bread - Raisin Walnut Oval,Flavouring - Orange,Pernod
78981,Vanilla Beans,Lettuce - Frisee,"Yogurt - Blueberry, 175 Gr",Beef - Inside Round,Cinnamon Buns Sticky

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [177]:
nueva_distancia = pd.DataFrame(1/(1 + squareform(pdist(pivot_new.T, 'cosine'))), 
                         index=pivot_new.columns, columns=pivot_new.columns)
nueva_distancia

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.530003,0.563492,0.543546,0.542393,0.541054,0.522016,0.530783,0.533096,0.535293,...,0.530306,0.517987,0.527662,0.511471,0.534181,0.513809,0.528795,0.520208,0.529481,0.527142
200,0.530003,1.000000,0.537166,0.535098,0.521226,0.519193,0.556945,0.516729,0.536350,0.541451,...,0.545224,0.533067,0.555246,0.543554,0.530308,0.521925,0.573177,0.537284,0.526167,0.527280
264,0.563492,0.537166,1.000000,0.531963,0.550168,0.525368,0.538967,0.514932,0.537046,0.524193,...,0.546880,0.525550,0.535062,0.531806,0.553085,0.560225,0.548538,0.538340,0.554929,0.527142
356,0.543546,0.535098,0.531963,1.000000,0.525982,0.523986,0.536792,0.540890,0.516901,0.519482,...,0.536321,0.520565,0.533119,0.534066,0.528874,0.530406,0.520138,0.536202,0.544727,0.535974
412,0.542393,0.521226,0.550168,0.525982,1.000000,0.534073,0.542308,0.547743,0.530459,0.543050,...,0.527903,0.565369,0.528847,0.529278,0.541674,0.536686,0.519628,0.538710,0.546943,0.552636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.513809,0.521925,0.560225,0.530406,0.536686,0.542873,0.540381,0.533190,0.535224,0.526495,...,0.532674,0.539309,0.522883,0.542570,0.569539,1.000000,0.562050,0.543657,0.531363,0.519127
98069,0.528795,0.573177,0.548538,0.520138,0.519628,0.520835,0.534221,0.525789,0.531918,0.541402,...,0.529233,0.535979,0.530224,0.518742,0.554911,0.562050,1.000000,0.548011,0.542143,0.536728
98159,0.520208,0.537284,0.538340,0.536202,0.538710,0.533856,0.535601,0.535704,0.544926,0.535721,...,0.542777,0.556893,0.535487,0.521507,0.541404,0.543657,0.548011,1.000000,0.543258,0.531447
98185,0.529481,0.526167,0.554929,0.544727,0.546943,0.528842,0.527943,0.548943,0.539210,0.518002,...,0.526429,0.509322,0.537103,0.531411,0.529780,0.531363,0.542143,0.543258,1.000000,0.546336
98200,0.527142,0.527280,0.527142,0.535974,0.552636,0.552221,0.532238,0.531706,0.519657,0.549685,...,0.531214,0.526748,0.545760,0.525116,0.537737,0.519127,0.536728,0.531447,0.546336,1.000000

In [178]:
recos_10 = {} 
ID_unico = data.CustomerID.unique()
#ID_unico

In [181]:
for id in ID_unico:
    #Distancia
    # mi tabla se llama distances
    
    #Similarities 
    top_tabla = nueva_distancia[id].sort_values(ascending = False)[1:6]
    #busco a mi top de clientes en tabla dinamica original
    match = pivot_new[top_tabla.index].astype(int)
    #creo la nueva columna para esta variable
    match['Total'] = match.sum(axis = 1)
    #ahora hago el merge usando el nombre del producto para que se pueda unir
    tabla_merge = pivot_new.merge(match['Total'], on = 'ProductName')
    productos_comprados_2 = list(tabla_merge[tabla_merge[id] == 0].nlargest(5,'Total').index)
    recos_10.update({id:productos_comprados_2})

In [183]:
lista_recomendaciones_cityblock = pd.DataFrame.from_dict(recos_10, orient='index')
lista_recomendaciones_cityblock.head()

,0,1,2,3,4
61288,Jagermeister,Wine - Two Oceans Cabernet,Tofu - Firm,Appetizer - Sausage Rolls,Dc - Frozen Momji
77352,Bread - Rye,Fondant - Icing,Lettuce - Frisee,Bread - French Baquette,Pork - Kidney
40094,Juice - V8 Splash,Beef - Inside Round,"Bread - Roll, Soft White Round",Truffle Cups - Brown,Cake - Mini Cheesecake
23548,Bagel - Plain,Juice - Orange,Olives - Stuffed,Veal - Sweetbread,Barramundi
78981,Wine - Blue Nun Qualitatswein,Cookies - Assorted,Cheese - Cottage Cheese,Baking Powder,Quiche Assorted