# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('/Users/arnoldoleyson/Desktop/Ironhack/Labs/lab-intro-recommender-systems/data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68584 entries, 0 to 68583
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerID   68584 non-null  int64
 1   FirstName    68584 non-null  object
 2   LastName     68584 non-null  object
 3   SalesID      68584 non-null  int64
 4   ProductID    68584 non-null  int64
 5   ProductName  68584 non-null  object
 6   Quantity     68584 non-null  int64
dtypes: int64(4), object(3)
memory usage: 3.7+ MB

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [5]:
data_purchases = data.groupby(['CustomerID','ProductName']).agg({'Quantity':sum}).reset_index()
data_purchases

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [6]:
#Revisamos que columnas tienen datos nulos
data.isnull().sum()

CustomerID     0
FirstName      0
LastName       0
SalesID        0
ProductID      0
ProductName    0
Quantity       0
dtype: int64

In [7]:
#Creamos la pivot table
product_by_customer = data.pivot_table(index = 'ProductName', columns = 'CustomerID', values = 'Quantity', aggfunc = 'sum').fillna(0)
product_by_customer

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Appetizer - Mini Egg Roll, Shrimp",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Appetizer - Mushroom Tart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0
Appetizer - Sausage Rolls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,25.0,25.0,25.0,0.0,25.0,0.0
Apricots - Dried,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yeast Dry - Fermipan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yoghurt Tubes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0
"Yogurt - Blueberry, 175 Gr",0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,25.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0
Yogurt - French Vanilla,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
Zucchini - Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [8]:
#Calculamos las distancias de la customer similarity matrix
pdist_matrix = pdist(product_by_customer, metric = 'euclidean')

#Para que nos devuelva las distancias en una matriz cuadrada (customer similarity matrix)
#Le sumamos 1 para que la diagonal principal quede en 1 y podamos trabajar con ella si hacemos divisiones
#y para que el valor mínimo que tengamos sea 1 y al momento de hacer la inversa, el valor quede entre 0 y 1
#Sacamos la invera de la matriz
dist_eucl = 1 / (1 + squareform(pdist(product_by_customer.T, metric = 'euclidean')))

#Creamos un dataframe de panda con los valores entre la relación de cada CustomerID
distance = pd.DataFrame(dist_eucl, index = product_by_customer.columns, columns = product_by_customer.columns )
distance

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [9]:
top5_similar_customers = distance[61288].sort_values(ascending = False)[1:6]
top5_similar_customers

CustomerID
15166    0.007911
5968     0.007794
8539     0.007778
5224     0.007771
5104     0.007750
Name: 61288, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [10]:
similar_customers = data_purchases[ (data_purchases.CustomerID == top5_similar_customers.index[0]) | (data_purchases.CustomerID == top5_similar_customers.index[1]) | (data_purchases.CustomerID == top5_similar_customers.index[2]) | (data_purchases.CustomerID == top5_similar_customers.index[3]) | (data_purchases.CustomerID == top5_similar_customers.index[4]) ]
similar_customers

       CustomerID                        ProductName  Quantity
3570         5104                  Apricots - Halves         2
3571         5104         Bacardi Breezer - Tropical         2
3572         5104                           Bay Leaf         2
3573         5104             Beans - Kidney, Canned         2
3574         5104                        Beans - Wax         2
...           ...                                ...       ...
10120       15166     Wine - Magnotta, Merlot Sr Vqa         4
10121       15166    Wine - Red, Harrow Estates, Cab         4
10122       15166            Wine - Redchard Merritt         4
10123       15166             Wine - Ruffino Chianti         4
10124       15166  Wine - Vineland Estate Semi - Dry         4

[316 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [11]:
rank_sim_customer = similar_customers.pivot_table(index = 'ProductName', columns = 'CustomerID', values = 'Quantity', aggfunc = 'sum').fillna(0)
rank_sim_customer['Total'] = rank_sim_customer.sum(axis = 1)
most_purchased_similarities = rank_sim_customer.sort_values('Total', ascending = False)
most_purchased_similarities

CustomerID                  5104  5224  5968  8539  15166  Total
ProductName
Beef - Rib Eye Aaa           0.0   0.0   2.0   6.0    4.0   12.0
Jagermeister                 6.0   2.0   0.0   0.0    4.0   12.0
Chicken - Soup Base          0.0   0.0   2.0   6.0    4.0   12.0
Lime Cordial - Roses         2.0   0.0   2.0   6.0    0.0   10.0
Lamb - Pieces, Diced         0.0   2.0   0.0   0.0    8.0   10.0
...                          ...   ...   ...   ...    ...    ...
Salsify, Organic             2.0   0.0   0.0   0.0    0.0    2.0
Salmon Steak - Cohoe 8 Oz    0.0   2.0   0.0   0.0    0.0    2.0
Salmon - Sockeye Raw         0.0   0.0   2.0   0.0    0.0    2.0
Salmon - Atlantic, Skin On   2.0   0.0   0.0   0.0    0.0    2.0
Cheese - Camembert           2.0   0.0   0.0   0.0    0.0    2.0

[231 rows x 6 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [12]:
merged_products = product_by_customer.merge(most_purchased_similarities['Total'], on = 'ProductName', how = 'inner').sort_values('Total', ascending = False)
merged_products_top5 = merged_products[merged_products[61288] == 0].head()
recomendaciones = list(merged_products_top5.index)

recomendaciones

['Jagermeister',
 'Chicken - Soup Base',
 'Lime Cordial - Roses',
 'Macaroons - Two Bite Choc',
 'Flavouring - Orange']

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [13]:
customers_recommendations = {}

customer_ID = list(data.CustomerID.unique())

for customer in customer_ID:

    top5_similar_customers = distance[customer].sort_values(ascending = False)[1:6]
    
    similar_customers = data_purchases[ (data_purchases.CustomerID == top5_similar_customers.index[0]) | (data_purchases.CustomerID == top5_similar_customers.index[1]) | (data_purchases.CustomerID == top5_similar_customers.index[2]) | (data_purchases.CustomerID == top5_similar_customers.index[3]) | (data_purchases.CustomerID == top5_similar_customers.index[4]) ]

    rank_sim_customer = similar_customers.pivot_table(index = 'ProductName', columns = 'CustomerID', values = 'Quantity', aggfunc = 'sum').fillna(0)
    rank_sim_customer['Total'] = rank_sim_customer.sum(axis = 1)
    most_purchased_similarities = rank_sim_customer.sort_values('Total', ascending = False)

    merged_products = product_by_customer.merge(most_purchased_similarities['Total'], on = 'ProductName', how = 'inner').sort_values('Total', ascending = False)
    merged_products_top5 = merged_products[merged_products[61288] == 0].head()
    recomendaciones_cliente = list(merged_products_top5.index)
    
    customers_recommendations.update({customer : list(recomendaciones_cliente)})

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [14]:
df_customers_recommendations = pd.DataFrame (customers_recommendations)
df_customers_recommendations

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Jagermeister,Wine - Valpolicella Masi,Bread - Italian Corn Meal Poly,Tea - English Breakfast,Isomalt,Cocoa Butter,Juice - Lime,Vinegar - Sherry,Soup Knorr Chili With Beans,Sugar - Fine,...,Black Currants,"Pasta - Penne, Rigate, Dry",Fenngreek Seed,Milk Powder,Chips Potato Salt Vinegar 43g,Pickerel - Fillets,Beef - Ground Medium,"Beef - Tenderlion, Center Cut",Onions - Cippolini,"Pepper - Black, Whole"
1,Chicken - Soup Base,Fuji Apples,Puree - Mocha,Squid - Tubes / Tenticles 10/20,Crush - Cream Soda,"Cheese - Boursin, Garlic / Herbs","Pork - Bacon, Double Smoked",Bread Foccacia Whole,Soupfoamcont12oz 112con,Cheese - Mozzarella,...,Beef - Top Sirloin,Coffee - Hazelnut Cream,Milk - 2%,Cheese - Mix,Cookie Chocolate Chip With,Phyllo Dough,Veal - Inside,Cake - Mini Cheesecake,"Veal - Brisket, Provimi,bnls",Knife Plastic - White
2,Lime Cordial - Roses,Tahini Paste,"Cheese - Brie,danish",Spinach - Baby,Vanilla Beans,Cake - Mini Cheesecake,Tomatoes Tear Drop,Wine - Blue Nun Qualitatswein,Veal - Sweetbread,Bananas,...,Grouper - Fresh,Soup Knorr Chili With Beans,Bay Leaf,Rum - Mount Gay Eclipes,Tomatoes Tear Drop,"Pasta - Penne, Rigate, Dry",Beer - Labatt Blue,Olives - Kalamata,Beef - Ground Medium,Butter - Unsalted
3,Macaroons - Two Bite Choc,Ocean Spray - Ruby Red,Cookie - Dough Variety,Jolt Cola - Electric Blue,Tea - Earl Grey,Wiberg Super Cure,Pomello,Bread - French Baquette,"Wine - Magnotta, Merlot Sr Vqa",Quiche Assorted,...,Onions - Cippolini,Sardines,"Veal - Inside, Choice",Muffin Mix - Blueberry,Fenngreek Seed,Lettuce - Spring Mix,"Thyme - Lemon, Fresh",Wine - White Cab Sauv.on,Scampi Tail,Wine - Ej Gallo Sierra Valley
4,Flavouring - Orange,Tuna - Salad Premix,Tuna - Salad Premix,Sprouts - Baby Pea Tendrils,Grouper - Fresh,Beef - Top Sirloin - Aaa,Island Oasis - Mango Daiquiri,Table Cloth 62x114 White,Bread - Raisin Walnut Oval,"Pork - Loin, Center Cut",...,Soup Knorr Chili With Beans,"Chicken - Leg, Boneless",Pomello,Sea Bass - Whole,Towels - Paper / Kraft,Browning Caramel Glace,Wonton Wrappers,Yoghurt Tubes,Scallops - 10/20,Wine - Blue Nun Qualitatswein

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [15]:
#Calculamos las distancias de la customer similarity matrix
pdist_matrix_consine = pdist(product_by_customer, metric = 'cosine')

#Para que nos devuelva las distancias en una matriz cuadrada (customer similarity matrix)
#Le sumamos 1 para que la diagonal principal quede en 1 y podamos trabajar con ella si hacemos divisiones
#y para que el valor mínimo que tengamos sea 1 y al momento de hacer la inversa, el valor quede entre 0 y 1
#Sacamos la invera de la matriz
dist_cosine = 1 / (1 + squareform(pdist(product_by_customer.T, metric = 'cosine')))

#Creamos un dataframe de panda con los valores entre la relación de cada CustomerID
distance_cosine = pd.DataFrame(dist_cosine, index = product_by_customer.columns, columns = product_by_customer.columns )
distance_cosine

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.530003,0.563492,0.543546,0.542393,0.541054,0.522016,0.530783,0.533096,0.535293,...,0.530306,0.517987,0.527662,0.511471,0.534181,0.513809,0.528795,0.520208,0.529481,0.527142
200,0.530003,1.000000,0.537166,0.535098,0.521226,0.519193,0.556945,0.516729,0.536350,0.541451,...,0.545224,0.533067,0.555246,0.543554,0.530308,0.521925,0.573177,0.537284,0.526167,0.527280
264,0.563492,0.537166,1.000000,0.531963,0.550168,0.525368,0.538967,0.514932,0.537046,0.524193,...,0.546880,0.525550,0.535062,0.531806,0.553085,0.560225,0.548538,0.538340,0.554929,0.527142
356,0.543546,0.535098,0.531963,1.000000,0.525982,0.523986,0.536792,0.540890,0.516901,0.519482,...,0.536321,0.520565,0.533119,0.534066,0.528874,0.530406,0.520138,0.536202,0.544727,0.535974
412,0.542393,0.521226,0.550168,0.525982,1.000000,0.534073,0.542308,0.547743,0.530459,0.543050,...,0.527903,0.565369,0.528847,0.529278,0.541674,0.536686,0.519628,0.538710,0.546943,0.552636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.513809,0.521925,0.560225,0.530406,0.536686,0.542873,0.540381,0.533190,0.535224,0.526495,...,0.532674,0.539309,0.522883,0.542570,0.569539,1.000000,0.562050,0.543657,0.531363,0.519127
98069,0.528795,0.573177,0.548538,0.520138,0.519628,0.520835,0.534221,0.525789,0.531918,0.541402,...,0.529233,0.535979,0.530224,0.518742,0.554911,0.562050,1.000000,0.548011,0.542143,0.536728
98159,0.520208,0.537284,0.538340,0.536202,0.538710,0.533856,0.535601,0.535704,0.544926,0.535721,...,0.542777,0.556893,0.535487,0.521507,0.541404,0.543657,0.548011,1.000000,0.543258,0.531447
98185,0.529481,0.526167,0.554929,0.544727,0.546943,0.528842,0.527943,0.548943,0.539210,0.518002,...,0.526429,0.509322,0.537103,0.531411,0.529780,0.531363,0.542143,0.543258,1.000000,0.546336
98200,0.527142,0.527280,0.527142,0.535974,0.552636,0.552221,0.532238,0.531706,0.519657,0.549685,...,0.531214,0.526748,0.545760,0.525116,0.537737,0.519127,0.536728,0.531447,0.546336,1.000000

In [16]:
customers_recommendations_2 = {}

customer_ID = list(data.CustomerID.unique())

for customer in customer_ID:

    top5_similar_customers = distance[customer].sort_values(ascending = False)[1:6]
    
    similar_customers = data_purchases[ (data_purchases.CustomerID == top5_similar_customers.index[0]) | (data_purchases.CustomerID == top5_similar_customers.index[1]) | (data_purchases.CustomerID == top5_similar_customers.index[2]) | (data_purchases.CustomerID == top5_similar_customers.index[3]) | (data_purchases.CustomerID == top5_similar_customers.index[4]) ]

    rank_sim_customer = similar_customers.pivot_table(index = 'ProductName', columns = 'CustomerID', values = 'Quantity', aggfunc = 'sum').fillna(0)
    rank_sim_customer['Total'] = rank_sim_customer.sum(axis = 1)
    most_purchased_similarities = rank_sim_customer.sort_values('Total', ascending = False)

    merged_products = product_by_customer.merge(most_purchased_similarities['Total'], on = 'ProductName', how = 'inner').sort_values('Total', ascending = False)
    merged_products_top5 = merged_products[merged_products[61288] == 0].head()
    recomendaciones_cliente = list(merged_products_top5.index)
    
    customers_recommendations_2.update({customer : list(recomendaciones_cliente)})

In [17]:
df_customers_recommendations_2 = pd.DataFrame (customers_recommendations_2)
df_customers_recommendations_2

,61288,77352,40094,23548,78981,83106,11253,35107,15088,26031,...,25270,17390,97029,38154,74403,49005,41286,85878,68506,3472
0,Jagermeister,Wine - Valpolicella Masi,Bread - Italian Corn Meal Poly,Tea - English Breakfast,Isomalt,Cocoa Butter,Juice - Lime,Vinegar - Sherry,Soup Knorr Chili With Beans,Sugar - Fine,...,Black Currants,"Pasta - Penne, Rigate, Dry",Fenngreek Seed,Milk Powder,Chips Potato Salt Vinegar 43g,Pickerel - Fillets,Beef - Ground Medium,"Beef - Tenderlion, Center Cut",Onions - Cippolini,"Pepper - Black, Whole"
1,Chicken - Soup Base,Fuji Apples,Puree - Mocha,Squid - Tubes / Tenticles 10/20,Crush - Cream Soda,"Cheese - Boursin, Garlic / Herbs","Pork - Bacon, Double Smoked",Bread Foccacia Whole,Soupfoamcont12oz 112con,Cheese - Mozzarella,...,Beef - Top Sirloin,Coffee - Hazelnut Cream,Milk - 2%,Cheese - Mix,Cookie Chocolate Chip With,Phyllo Dough,Veal - Inside,Cake - Mini Cheesecake,"Veal - Brisket, Provimi,bnls",Knife Plastic - White
2,Lime Cordial - Roses,Tahini Paste,"Cheese - Brie,danish",Spinach - Baby,Vanilla Beans,Cake - Mini Cheesecake,Tomatoes Tear Drop,Wine - Blue Nun Qualitatswein,Veal - Sweetbread,Bananas,...,Grouper - Fresh,Soup Knorr Chili With Beans,Bay Leaf,Rum - Mount Gay Eclipes,Tomatoes Tear Drop,"Pasta - Penne, Rigate, Dry",Beer - Labatt Blue,Olives - Kalamata,Beef - Ground Medium,Butter - Unsalted
3,Macaroons - Two Bite Choc,Ocean Spray - Ruby Red,Cookie - Dough Variety,Jolt Cola - Electric Blue,Tea - Earl Grey,Wiberg Super Cure,Pomello,Bread - French Baquette,"Wine - Magnotta, Merlot Sr Vqa",Quiche Assorted,...,Onions - Cippolini,Sardines,"Veal - Inside, Choice",Muffin Mix - Blueberry,Fenngreek Seed,Lettuce - Spring Mix,"Thyme - Lemon, Fresh",Wine - White Cab Sauv.on,Scampi Tail,Wine - Ej Gallo Sierra Valley
4,Flavouring - Orange,Tuna - Salad Premix,Tuna - Salad Premix,Sprouts - Baby Pea Tendrils,Grouper - Fresh,Beef - Top Sirloin - Aaa,Island Oasis - Mango Daiquiri,Table Cloth 62x114 White,Bread - Raisin Walnut Oval,"Pork - Loin, Center Cut",...,Soup Knorr Chili With Beans,"Chicken - Leg, Boneless",Pomello,Sea Bass - Whole,Towels - Paper / Kraft,Browning Caramel Glace,Wonton Wrappers,Yoghurt Tubes,Scallops - 10/20,Wine - Blue Nun Qualitatswein